<p>Sorry, but you are looking for something that isn't here. Lets try to keep a postive mindset though and see if we can find something else great. Some suggestions:</p>

<ul>
<li>Read the <a href="/">blog</a> for the latest</li>
<li>Sift through the <a href="/archives">archives</a></li>
<li>Subscribe via <a href="/rss">RSS</a></li>
<li>Learn <a href="/about">about me</a> and <a href="/resume">my professional background</a></li>
<li><a href="mailto:JJfutbol@gmail.com">Send me an email</a> or reach out on <a href="http://twitter.com/javierjulio">Twitter</a></li>
</ul>