<ul class="archives">
  <% articles.each do |article| -%>
    <li>
      <a href="<%= article.url %>"><%= article.title %></a>
      <% if article.date -%>
        <span class="date"><time datetime="<%= article.date.strftime("%Y-%m-%d") %>"><%= article.date.formatted %></time</span>
      <% end -%>
    </li>
  <% end -%>
</ul>