<ul class="archives">
  <% articles.each do |article| %>
    <li>
      <a href="<%= article.url %>"><%= article.title %></a>
      <% if article.date %>
        <time class="date" datetime="<%= article.date.strftime("%Y-%m-%d") %>" pubdate><%= article.date.formatted %></time>
      <% end %>
    </li>
  <% end %>
</ul>