<p><span class="figure gutter"><img src="/images/javier.jpg" alt="Javier Julio" width="78" height="100" /></span>Hello, I'm Javier Julio. A software developer and speaker living in Brooklyn, New York. I create rich applications for the web, mobile, and desktop environments at <a href="http://www.9mmedia.com/">9mmedia</a> in the trendy Soho neighborhood of Manhattan.</p>

<p>For the past 3 years, I've specialized as a client side developer working with Flex but I started off server side and consider myself proficient in both. If my focus goes one way, on my free time, I focus on the other. Currently, I'm learning Ruby by completing the <a href="http://rubykoans.com/">Ruby Koans</a> and enjoying it immensely. You can find my notes and other projects on <a href="https://github.com/javierjulio">GitHub</a>. Ruby's syntax is wonderful and the great set of tools in the community like <a href="http://www.heroku.com/">Heroku</a> have won me over. Otherwise I'd be learning Node.js and Clojure. Those are next.</p>

<p>Apart from programming, I'm an avid reader and use <a href="http://www.instapaper.com/">Instapaper</a> to read anything I come across using Google Reader or Twitter. Using Netflix I've discovered shows and movies I wouldn't have otherwise. When that bores me safe to say I'll be gaming. You can find me on PS3 and Steam as JJfutbol. Add me and lets game!</p>

<p>My futbol teams are Newcastle United and Valencia. The first is to long of a story and the second is because my mother is from there. I traveled to Valencia each summer as a child and that's how I learned to speak Spanish fluently. And thanks to her, I love to <a href="/recipes">cook</a>. Its relaxing and a great way to clear the mind.</p>

<p>This internet web site was made on a <a href="http://www.apple.com/">Mac</a>, using <a href="http://www.panic.com/coda/">Coda</a>, <a href="http://www.ruby-lang.org/">Ruby</a>, <a href="http://www.sinatrarb.com/">Sinatra</a>, versioned with Git (on GitHub), deployed with <a href="http://www.heroku.com/">Heroku</a> and tested against the <a href="http://www.google.com/chrome/">Chrome</a> web browser.</p>



<% 
=begin

<p>I'm a software developer and speaker living in Brooklyn, New York. I design and create rich applications for the web, mobile, and desktop environments at <a href="http://www.9mmedia.com/">9mmedia</a> in the trendy Soho neighborhood of Manhattan.</p>

<p><span class="figure gutter"><img src="/images/javier.jpg" alt="Javier Julio" width="78" height="100" /></span>You can find projects or tools, even the source for this site, on <a href="https://github.com/javierjulio">GitHub</a>. I'm having a great time learning Ruby by completing the <a href="http://rubykoans.com/">Ruby Koans</a> and have them on my GitHub with extensive notes.</p>

<p>Using Google Reader and Twitter I find great reading material that I save with <a href="http://www.instapaper.com/">Instapaper</a> and read later on my iPhone. My reading environment is clutter free, portable, and when I have time for it. I can't read any other way.</p>

<p>To kick back I enjoy being on the PS3 either watching movies or TV shows on Netflix or playing many of the top PlayStation games especially several of the great indie ones from the PlayStation Network. Are you a gamer? Add me to your buddy list (my PSN and Steam id is JJfutbol) and lets game!</p>

<p>I love to cook, although I don't have much variety in what I know, but I <a href="/recipes">share my favorite recipes</a>. Yes, I love pasta. Deal with it.</p>

<p>When it comes to football I follow Newcastle United and Valencia. Why Newcastle? It's too long of a story to tell here. And Valencia? My mother is from there. She would take me every summer as a child and that's how I learned to speak Spanish fluently. It's a lovely city. If you haven't been, don't miss it.</p>

<p>This internet web site was made on a <a href="http://www.apple.com/">Mac</a>, using <a href="http://www.panic.com/coda/">Coda</a>, <a href="http://www.ruby-lang.org/">Ruby</a>, <a href="http://www.sinatrarb.com/">Sinatra</a>, versioned with Git (on GitHub), deployed with <a href="http://www.heroku.com/">Heroku</a> and tested against the <a href="http://www.google.com/chrome/">Chrome</a> web browser.</p>





<style type="text/css">
.tweets ol {list-style-type: none; padding-left: 0;}
.tweets li {margin-bottom: 1.4375em;}
.tweets time {display: block; color: #444; font-size: 0.9em; text-decoration: none !important;}
article time a, article time a:link, article time a:visited { color: #999; text-decoration: none; }
article time:hover, article time a:hover, .meta:hover { border-bottom: 0; color: #444; }
article time:focus, article time a:focus, .meta:focus { background: #252525; color: #fff; opacity: 1; text-shadow: none; }
</style>

<h3>Latest Tweets</h3>

<article class="post" role="article" id="article-01">
</article>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script> 
<script type="text/javascript">
function prettyDate(time){
	var date = new Date((time || "").replace(/-/g,"/").replace(/[TZ]/g," ")),
		diff = (((new Date()).getTime() - date.getTime()) / 1000),
		day_diff = Math.floor(diff / 86400);
			
	if ( isNaN(day_diff) || day_diff < 0 || day_diff >= 31 )
		return;
			
	return day_diff == 0 && (
			diff < 60 && "just now" ||
			diff < 120 && "1 minute ago" ||
			diff < 3600 && Math.floor( diff / 60 ) + " minutes ago" ||
			diff < 7200 && "1 hour ago" ||
			diff < 86400 && Math.floor( diff / 3600 ) + " hours ago") ||
		day_diff == 1 && "Yesterday" ||
		day_diff < 7 && day_diff + " days ago" ||
		day_diff < 31 && Math.ceil( day_diff / 7 ) + " weeks ago";
}
var dl = {

    /**
     * Regular expressions for matching various special content in tweet text.
    **/
    regExes : {
        urls: /http(s)?:\/\/[\S]*/gi,
        mentions: /@[\w]*/gi,
        hashes: /\#[\w]*/gi
    },

    /**
     * Array of tweets with their HTML.
    **/
    tweets : [],
    
    /**
     * Returns a machine readable timestamp for the datetime attributes:
     * YYYY-MM-DDTHH:MM-Offset
     *
     * @date {object} Twitter's date object response
    **/
    getTimestamp : function (date) {
        var d       = new Date(date),
            year    = d.getUTCFullYear(),
            month   = (d.getUTCMonth() < 10) ? "0" + d.getUTCMonth() : d.getUTCMonth(),
            day     = (d.getUTCDate() < 10) ? "0" + d.getUTCDate() : d.getUTCDate(),
            hour    = (d.getUTCHours() < 10) ? "0" + d.getUTCHours() : d.getUTCHours(),
            minute  = (d.getUTCMinutes() < 10) ? "0" + d.getUTCMinutes() : d.getUTCMinutes(),
            offset  = d.getTimezoneOffset() / 60;

        return year + "-" + month + "-" + day + "T" + hour + ":" + minute + "-0" + offset + ":00";
    },

    /**
     * Looks for URLs within a string and wraps them in an anchor tag.
     *
     * @text {string} Tweet text
    **/
    formatLinks : function (text) {
        // Find and Link URLs
        if (text.match(dl.regExes.urls)) {
            text = dl.linkUrls(text);
        }

        // Find and Link Hash Tags
        if (text.match(dl.regExes.hashes)) {
            text = dl.linkHashes(text);
        }

        // Find and Link User Mentions
        if (text.match(dl.regExes.mentions)) {
            text = dl.linkMentions(text);
        }

        return text;
    },

    /**
     * Look for any URLs within the text and wrap them in an anchor.
     *
     * @text {string} Tweet text
    **/
    linkUrls : function (text) {
        for (var a = 0, l = text.match(dl.regExes.urls).length; a < l; a++) {
            var url = text.match(dl.regExes.urls)[a];

            text = text.replace(url, '<a href="' + url + '">' + url + '</a>');
        }

        return text;
    },

    /**
     * Look for hash tags within the text and link them to a search query for similar tags.
     *
     * @text {string} Tweet text
    **/
    linkHashes : function (text) {
        for (var h = 0, l = text.match(dl.regExes.hashes).length; h < l; h++) {
            var match   = text.match(dl.regExes.hashes)[h],
                hash    = match.replace("#", ""),
                hashUrl = '<a href="http://twitter.com/#search/%23' + hash + '">' + match + '</a>';

            text = text.replace(match, hashUrl);
        }

        return text;
    },

    /**
     * Look for any mentions of other users within the text and link them to the user's page.
     *
     * @text {string} Tweet text
    **/
    linkMentions : function (text) {
        for (var u = 0, l = text.match(dl.regExes.mentions).length; u < l; u++) {
            var match       = text.match(dl.regExes.mentions)[u],
                mention     = match.replace("@", ""),
                mentionurl  = '@<a href="http://twitter.com/' + mention + '">' + mention + '</a>';

            text = text.replace(match, mentionurl);
        }

        return text;
    }
};

/**
 * On ready, request latest tweets from Twitter Public API.
 * Format the selected response into HTML, then append to #article-01.
**/
$(document).ready(function () {
    // Parameters for our Twitter API request.
    var parameters = [
            "screen_name=javierjulio",
            "count=5",
            "trim_user=1",
            "include_rts=1",
            "include_entities=1"
        ],
        query = "?" + parameters.join("&");

    $.ajaxSetup({
        type     : "GET",
        dataType : "jsonp",
        url      : "http://api.twitter.com/1/statuses/user_timeline.json" + query
    });

    // Submit our request and handle success and error cases.
    $.ajax({
        error: function (xhr, status, error) {
            $("#article-01").append('<p>Twitter might be down at the moment, otherwise you\'d see my latest posts here. You can try following me @<a href="http://twitter.com/javierjulio">javierjulio</a>.</p>');

        },

        success: function (data, status, xhr) {
            var container = $('<div class="tweets" role="complementary" id="temporary-tweets" style="display: none;">' +
                            '<ol></ol></div>');

            for (var i = 0; i < 5; i++) {
                var tweet       = data[i];

                if (tweet === undefined) { continue; }

                var isRetweet   = (tweet.retweeted_status) ? true : false,
                    from        = (isRetweet) ? tweet.entities.user_mentions[0].screen_name : tweet.user.screen_name,
                    tweetId     = (isRetweet) ? tweet.retweeted_status.id_str : tweet.id_str,
                    permaUrl    = "http://twitter.com/" + from + "/status/" + tweetId,
                    timestamp   = dl.getTimestamp(tweet.created_at),
                    niceText    = dl.formatLinks(tweet.text),
                    listItem    = '<li>' + niceText + '<time datetime="' + timestamp + '" pubdate><a href="' + permaUrl + '">' + prettyDate(tweet.created_at) + '</a></time></li>';

                dl.tweets.push(listItem);
            }

            container.find("ol").append(dl.tweets.join("") + '<li><a href="http://twitter.com/javierjulio">More&hellip;</a></li>');

            $("#article-01").append(container);

            container.slideDown(600);
        }
    }); // End .ajax
}); // End document.ready
</script>

=end %>