<h3 class="about-me-short">My name is Javier Julio and I'm a <a href="/resume">full-stack developer</a> with an eye for design and details. Say <a href="mailto:jjfutbol@gmail.com">hello</a>.</h3>

<%= render_archived @recent %>

<div class="older">
  <a href="<%= to('/archives') %>">&larr; older entries</a>
</div>
