<h3 class="about-excerpt">I'm a full stack developer with an eye for design and sweating the details in bringing rich interfaces to life. <a href="/resume">I love what I do</a>.</h3>

<%= render_archived @recent %>

<div class="older">
  <a href="<%= to('/archives') %>">&larr; older entries</a>
</div>
