<h4><a href="/presentations/downloads/digging-through-flex-framework.zip" title="Download presentation files">Digging Through The Flex Framework</a></h4>
<p>To grow and succeed as a Flex developer there is one particular habit you want to develop: the curiosity and desire to dig through the Flex framework source. As you solve more complex problems and develop more complex software you'll realize what Flex offers out of the box isn't always enough. You'll be walked through various techniques and tips to help you develop this necessary skill and also be demonstrated some real world examples (components that I've built and use in production software regularly) to motivate you into digging through the Flex framework.</p>

<ul>
<li>CFUnited Express New York (on April 20th, 2009)</li>
<li>New York Flex User Group (on July 26th, 2009)</li>
<li>CFUnited 2009 (on August 13th, 2009)</li>
<li>FITC Unconference at Adobe MAX (on October 5th, 2009)</li>
</ul>

<h4><a href="/presentations/downloads/flex-frameworks-puremvc.zip" title="Download presentation files">Using Flex Frameworks to Build Data Driven Applications</a></h4>
<p>This was a three-hour <acronym title="Bring your own laptop">BYOL</acronym> session at <a href="http://max.adobe.com">Adobe MAX</a> 2009. You learned to create the same data-driven application for four different MVC frameworks: PureMVC, Cairngorm, Swiz and Mate. I presented on PureMVC so the download only includes the slides and code for that framework.</p>

<ul>
<li>Adobe MAX (on October 6th and 7th, 2009)</li>
</ul>

<h4><a href="/presentations/downloads/building-maintainable-apps-with-puremvc.zip" title="Download presentation files">Building Maintainable Applications with PureMVC</a></h4>

<ul>
<li>New York Flex User Group (on November 19th, 2009)</li>
<li>FITC Amsterdam 2010 (on February 23rd, 2010)</li>
<li>FITC Toronto 2010 (on April TBA, 2010)</li>
</ul>

<h4><a href="/presentations/downloads/building-cf-apps-with-fw1.zip" title="Download presentation files">Building CF Applications with Framework One</a></h4>
<p>Have you become tired of the bloated and complex CF MVC frameworks out there today? Feel like you need to take a 2 or 3 day class just to learn how to use some of them? Maybe you are tired of all that XML configuration and just want to be writing code? Whatever the ache Framework One is the latest MVC framework in the CF community designed to be completely convention based and with only a single core file. Reducing the complexity and the bloat is the name of the game! You'll learn what the framework is about, the conventions its based on and be walked through several demos so you can see the conventions in action.</p>

<ul>
<li>New York ColdFusion User Group (on January 12th, 2010)</li>
</ul>