<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/paella" title="Paella">Paella</a></h3>
  <p>This is my mother's recipe for paella. Its not very different from the typical dish just made with a lot of sofrito. One of my favorites!</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/eggplant-fritters">Eggplant Fritters</a></h3>
  <p>These come out crispy on the outside, tender and moist in the inside. Great vegetarian alternative for hamburger meat.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/broccoli-with-lemon-butter-sauce">Broccoli with lemon butter sauce</a></h3>
  <p>Steamed broccoli served with a light butter sauce made with garlic, crushed red pepper and lemon juice.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/farfalle-tonno" title="Farfalle with Tuna">Farfalle Tonno</a></h3>
  <p>Time consuming to prepare but worth the effort as its served with spring onions, lemon juice and zest, black olives, tuna, roasted pimientos and basil.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/farfalle-with-spring-onions">Farfalle with Spring Onions</a></h3>
  <p>A little to simple for some but makes a great side dish. Goes really well with milanesas de pollo (chicken).</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/fusilli-mozzarella">Fusilli Mozzarella</a></h3>
  <p>It's like pizza but with pasta! Served with tomatoes, anchovies, capers, basil and chunks of melted mozzarella cheese.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/linguine-con-tonno-e-olive" title="Linguine with Tuna and Olives">Linguine con Tonno e Olive</a></h3>
  <p>A flavorful mediterranean dish with plenty of tuna, olives, anchovies, capers and parsley.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/penne-con-tonno-e-mozzarella" title="Penne with Tuna and Mozzarella">Penne con Tonno e Mozzarella</a></h3>
  <p>A cheesy, meaty dish. Similar to Linguine con Tonno e Olive but no olives, parsley or lemon juice.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/rigatoni-italiano">Rigatoni Italiano</a></h3>
  <p>Called "Greek Pasta" at home because of its combination of feta cheese, fresh tomatoes, and basil.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/spaghetti-alla-puttanesca" title="Spaghetti with Tomatoes and Black Olives">Spaghetti alla Puttanesca</a></h3>
  <p>Spaghetti pasta served with black olives, tomatoes and capers but as an uncooked version of the famous Neapolitan dish.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/spaghetti-con-accinghe-e-tonno" title="Spaghetti with Anchovies and Tuna">Spaghetti con Accinghe e Tonno</a></h3>
  <p>Spaghetti pasta served with anchovies and tuna for a great seafood taste along with parsley, garlic, and white wine.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/tortellini-rosa">Tortellini Rosa</a></h3>
  <p>My favorite recipe that is served with tomato sauce. Tortellini pasta served with tomato and alfredo sauce that has parmesan cheese, basil, garlic and shallots.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/tuscan-linguine-shrimp">Tuscan Linguine Shrimp</a></h3>
  <p>Tuscan style linguine pasta cooked with succulent shrimp, garlic, fresh roma tomatoes, lemon juice and basil.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/marinara-sauce">Marinara or Arrabbiata Sauce</a></h3>
  <p>A simple marinara or arrabbiata (spicy) suace for pizza or as a dip.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/italian-hamburgers">Italian Hamburgers aka Javi-burgers</a></h3>
  <p>Hamburgers stuffed with spring onions, italian parsley, basil and garlic.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/steak-milanesas">Steak Milanesas</a></h3>
  <p>Thin strips of marinated, breaded, marinated steak that are lightly fried.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/marinated-steak">Marinated Steak</a></h3>
  <p>New York Top Sirloin steak served with a home made marinate sauce.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/steak-with-shallots-and-red-wine-vinegar">Steak with Shallots</a></h3>
  <p>Sirloin steak cooked with shallots and at the end with red wine vinegar.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/chicken-milanesas">Chicken Milanesas</a></h3>
  <p>Chicken breast covered with breadcrumbs, parmesan cheese, and thyme leaves. This dish is lightly fried, a healthier alternative.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/bell-pepper-chicken">Bell Pepper Chicken</a></h3>
  <p>Boneless chicken breast with red bell peppers and garlic cooked with a little white wine.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/chicken-romano">Chicken Romano</a></h3>
  <p>Oven fried Chicken breast prepared with breadcrumbs, pecorino romano cheese and thyme leaves.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/paprika-chicken">Paprika Chicken</a></h3>
  <p>Boneless chicken breast baked and covered in paprika and butter.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/garlic-chicken">Garlic Chicken</a></h3>
  <p>Chicken breast, garlic, oregano and lots of lemon juice!</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/ensaladilla">Ensaladilla</a></h3>
  <p>A great salad or dip appetizer as a mix of mayonnaise, tuna, anchovies, spring onions and roasted pimientos.</p>
</article>

<article class="post-header">
  <h3 class="hN reciple-title"><a href="/recipes/european-salad">European Salad</a></h3>
  <p>No special name for this recipe but an enjoyable salad with the perfect combination of veggies and vinegars.</p>
</article>
