<h3>Pasta</h3>

<h4 class="recipe-title"><a href="/recipes/farfalle-tonno" title="Farfalle with Tuna">Farfalle Tonno</a></h4>
<p>Time consuming to prepare but worth the effort as its served with spring onions, lemon juice and zest, black olives, tuna, roasted pimientos and basil.</p>

<h4 class="recipe-title"><a href="/recipes/farfalle-with-spring-onions">Farfalle with Spring Onions</a></h4>
<p>A little to simple for some but is great as a side dish. Goes perfectly with the recipe for milanesas.</p>

<h4 class="recipe-title"><a href="/recipes/fusilli-mozzarella">Fusilli Mozzarella</a></h4>
<p>It's like pizza but with pasta! Served with tomatoes, anchovies, capers, basil and chunks of melted mozzarella cheese.</p>

<h4 class="recipe-title"><a href="/recipes/linguine-con-tonno-e-olive" title="Linguine with Tuna and Olives">Linguine con Tonno e Olive</a></h4>
<p>A big time favorite! Its flavor simply screams mediterranean with its use of tuna, olives, anchovies, capers and parsley. Translates to linguine with tuna and olives.</p>

<h4 class="recipe-title"><a href="/recipes/penne-con-tonno-e-mozzarella" class="icon new" title="Penne with Tuna and Mozzarella">Penne con Tonno e Mozzarella</a></h4>
<p>A cheesy yet meaty dish that will please in record time. Whatever you think, tuna goes perfectly with mozzarella.</p>

<h4 class="recipe-title"><a href="/recipes/rigatoni-italiano">Rigatoni Italiano</a></h4>
<p>Always called "Greek Pasta" here at home because of its combination of feta cheese, fresh tomatoes, and basil.</p>

<h4 class="recipe-title"><a href="/recipes/spaghetti-alla-puttanesca" class="icon new" title="Spaghetti with Tomatoes and Black Olives">Spaghetti alla Puttanesca</a></h4>
<p>Spaghetti pasta served with black olives, tomatoes and capers but as an uncooked version of the famous Neapolitan dish.</p>

<h4 class="recipe-title"><a href="/recipes/spaghetti-con-accinghe-e-tonno" title="Spaghetti with Anchovies and Tuna">Spaghetti con Accinghe e Tonno</a></h4>
<p>Spaghetti pasta served with anchovies and tuna for a great seafood taste and parsley, garlic, and white wine to give it flavor.</p>

<h4 class="recipe-title"><a href="/recipes/tortellini-rosa">Tortellini Rosa</a></h4>
<p>My favorite recipe that is served with tomato sauce. Tortellini pasta served with tomato and alfredo sauce that has parmesan cheese, basil, garlic and shallots.</p>

<h4 class="recipe-title"><a href="/recipes/tuscan-linguine-shrimp">Tuscan Linguine Shrimp</a></h4>
<p>Tuscan style linguine pasta cooked with succulent shrimp, garlic, fresh roma tomatoes, lemon juice and basil.</p>

<h3>Meat</h3>

<h4 class="recipe-title"><a href="/recipes/bell-pepper-chicken">Bell Pepper Chicken</a></h4>
<p>Boneless chicken breast with red bell peppers and garlic cooked with a little white wine.</p>

<h4 class="recipe-title"><a href="/recipes/marinated-steak">Marinated Steak</a></h4>
<p>New York Top Sirloin steak served with a home made marinate sauce.</p>

<h4 class="recipe-title"><a href="/recipes/chicken-romano">Chicken Romano</a></h4>
<p>Oven fried Chicken breast prepared with breadcrumbs, pecorino romano cheese and thyme leaves.</p>

<h4 class="recipe-title"><a href="/recipes/chicken-milanesas">Chicken Milanesas</a></h4>
<p>Chicken breast prepared with breadcrumbs, parmesan cheese, and thyme leaves. This dish is not deep fried and is a very healthy alternative.</p>

<h4 class="recipe-title"><a href="/recipes/garlic-chicken">Garlic Chicken</a></h4>
<p>Chicken breast, garlic, oregano and lots of lemon juice!</p>

<h4 class="recipe-title"><a href="/recipes/italian-hamburgers">Italian Hamburgers aka Javi-burgers</a></h4>
<p>Hamburgers stuffed with spring onions, italian parsley, basil and garlic.</p>

<h4 class="recipe-title"><a href="/recipes/steak-with-shallots-and-red-wine-vinegar">Steak with Shallots and Red Wine Vinegar</a></h4>
<p>Sirloin steak cooked with shallots and at the end with red wine vinegar to give it a sweet taste.</p>

<h4 class="recipe-title"><a href="/recipes">Steak Milanesas</a> - coming soon!</h4>
<p>Thin strips of breaded steak that are not deep fried.</p>

<h3>Salads and Dips</h3>

<h4 class="recipe-title"><a href="/recipes/ensaladilla" class="icon new">Ensaladilla</a></h4>
<p>A great salad or dip appetizer as a mix of mayonnaise, tuna, anchovies, spring onions and roasted pimientos.</p>

<h4 class="recipe-title"><a href="/recipes/european-salad" class="icon new">European Salad</a></h4>
<p>Never had a name for this but an enjoyable salad with the perfect combination of veggies and vinegars.</p>