<h3>Experience</h3> 
 
<h4 class="job-title">Senior Software Developer, <a href="http://www.9mmedia.com/">9mmedia</a></h4> 
<h5 class="job-date">April 2010 - Present</h5> 
<ul> 
	<li>Planned, managed and developed a fitness related web app using Flex 4.5 and Swiz. Biggest personal accomplishment was implementing design comps completely as in earlier versions of Flex this was not possible or very time consuming to do.</li> 
	<li>Developed a Flex 4.1 and Swiz web admin for the <a href="http://itunes.apple.com/us/app/fitnessclass/id348715624?mt=8">FitnessClass</a> iPad app.</li> 
	<li>Created and maintained four libraries for the Flex team for reusing RPC, general utilities, and custom MX and Spark components.</li> 
</ul> 
 
<h4 class="job-title">Web Developer, <a href="http://www.arc90.com/">Arc90</a></h4> 
<h5 class="job-date">September 2007 - April 2010</h5> 
<ul> 
	<li>Developed several Flex modules using PureMVC for a RESTful insurance policy origination platform that allowed multi-tasking for underwriters to manage the policy lifecycle and agents to track requests/changes. Tackled hard problems like deferred instantiation for a better user experience</li> 
	<li>Developed a deep understanding of the Flex framework and its component lifecycle to create custom components such as gradient containers, various text enhancements, and file uploaders</li> 
	<li>Handled frequent changes and enhancements for multiple projects simultaneously delivering on time in an agile environment</li> 
	<li>Developed an insurance policy scoring analysis management app using Flex, PureMVC, ColdFusion and AMF that dynamically created reports in Excel and interacted with SQL Server stored procedures</li> 
	<li>Developed Question Picker for McGraw Hill, a cross browser, single page AJAX app with jQuery that used nested categories, dynamic modal windows, and complex addition/removal of questions</li> 
</ul> 
 
<h4 class="job-title">Web Developer, <a href="http://www.aboutweb.com/">AboutWeb</a></h4> 
<h5 class="job-date">October 2005 - September 2007</h5> 
<ul> 
	<li>Developed a custom CMS with template, document and element versioning that was a CF8, object oriented Model Glue application for NIH and specialized in developing the front end</li> 
	<li>Did the redesign of the AboutWeb site using web standards and provided assistance to team members on that and accessibility</li> 
	<li>Worked on site for Intelliworks adding new features and troubleshooting bugs with their CF based CRM application for Higher Education</li> 
	<li>Enhanced an object oriented, Model Glue, CF, Flash form based application for AAO (American Academy of Otolaryngology) where doctors could submit research papers and have their peers review them</li> 
</ul> 
 
<h4 class="job-title">Web Developer, Katrina Lost</h4> 
<h5 class="job-date">September 2005 - December 2005</h5> 
<p>Developed a CF app for a volunteer project to aid the victims of Hurricane Katrina where users submitted information on missing relatives, contact info, and any available housing. Built over a weekend. On launch day we had 179,000 visitors and used 10GB of bandwidth in 10 days! Also developed front end with a web standards approach.</p> 
 
<h4 class="job-title">Webmaster, <a href="http://www.ess-home.com/">Environmental Support Solutions</a></h4> 
<h5 class="job-date">June 2005 - October 2005</h5> 
<p>Managed <a href="http://www.ess-home.com/">www.ess-home.com</a> and <a href="http://www.ess-expo.com/">www.ess-expo.com</a> and redesigned both with web standards (source ordering, no tables for layout) and re-architected both ASP back-ends providing better flexibility for implementing SEO, code reusability, and  overall maintenance ease resulting in fewer and lighter files.</p> 
 
<h4 class="job-title">Web Developer, <a href="http://www.bethesdahosting.com/">Bethesda Hosting</a></h4> 
<h5 class="job-date">March 2005 - July 2005</h5> 
<p>Managed client websites and developed new features for Fusebox 3 applications. Learned ASP on the job.</p> 
 
<h4 class="job-title">Web Intern, <a href="http://www.wri.org/">World Resources Institute</a></h4> 
<h5 class="job-date">April 2004 - April 2005</h5> 
<p>Built several CF based tools such as event calendars, dynamic forms, and search interfaces. My biggest achievement was replacing the site's DHTML tree menu with a cross browser, drop down menu.</p> 

<h3>Presentations</h3> 
 
<h4>Using Flex Frameworks to Build Data Driven Applications</h4> 
 
<ul> 
<li>Adobe MAX 2009 on October 6th and 7th, 2009 (Presented on PureMVC)</li> 
</ul> 
 
<h4>Building Maintainable Applications with PureMVC</h4> 
 
<ul> 
<li>FITC Toronto in April 2010</li> 
<li>FITC Amsterdam on February 23rd, 2010</li> 
<li>New York Flex User Group on November 19th, 2009</li> 
</ul> 
 
<h4>Building ColdFusion Applications with Framework One</h4> 
 
<ul> 
<li>New York ColdFusion User Group on January 12th, 2010</li> 
</ul> 
 
<h4>Digging Through the Flex Framework</h4> 
 
<ul> 
<li>FITC Unconference at Adobe MAX 2009 on October 5th, 2009</li> 
<li>CFUnited 2009 on August 13th, 2009</li> 
<li>New York Flex User Group on July 26th, 2009</li> 
<li>CFUnited Express New York on April 20th, 2009</li> 
</ul> 
 
<h3>Skills and Technologies</h3> 
 
<p><strong>Languages</strong>: <acronym title="ActionScript 3">AS3</acronym>, MXML, JavaScript, <acronym title="Asynchronous Javascript And XML">AJAX</acronym>, <acronym title="Hypertext Markup Language">HTML</acronym>, <acronym title="Cascading Style Sheets">CSS</acronym>, ColdFusion, Ruby, <acronym title="Representational State Transfer">REST</acronym>, <acronym title="Extensible Markup Language">XML</acronym></p> 

<p><strong>Frameworks</strong>: Flex, Swiz, jQuery, PureMVC, Framework One, Model-Glue</p> 

<p><strong>Tools</strong>: Flash Builder, Git, Subversion, Eclipse, Coda, Photoshop, CouchDB, SQL Server</p> 

<h3>Education</h3> 
 
<p><strong>Montgomery College</strong><br /> 
<acronym title="Associate of Applied Science">A.A.S.</acronym>, Web Programming Degree - 3.57 GPA (2001-2005)</p> 
 
<h3>Awards, Certifications, and Honors</h3> 
 
<ul> 
	<li>Flex 2: Data &amp; Communications (Adobe Certified Training)</li> 
	<li>Flex 2: Developing Rich Client Applications (Adobe Certified Training)</li> 
	<li>Hispanic Student Achievement Award (Montgomery College)</li> 
	<li>Computer Applications Academic Achievement Award (Montgomery College)</li> 
	<li>Best Final Project Award in Advanced ColdFusion (Montgomery College)</li> 
	<li>Best Final Project Award in ColdFusion (Montgomery College)</li> 
</ul>