<h1 class="is-print-only"><a href="http://www.javier-julio.com">Javier Julio</a></h1>

<p>View <a href="http://github.com/javierjulio">my open source contributions</a>. Questions? <a href="mailto:jjfutbol@gmail.com">Send me an email</a>.</p>

<h3>Experience</h3>

<h4 class="job-title">Senior Software Developer, <a href="http://www.9mmedia.com/">9mmedia</a></h4> 
<p class="job-date">April 2010 - Present</p> 
<ul>
  <li>Currently helping out on the in development iOS 7 only rewrite of FitnessBuilder by updating views to match comps and implementing new components.</li>
  <li>Applied eager loading throughout <a href="http://www.myfdb.com">MyFDB</a>. Pages that had 90+ queries were down to about 6 with rendering times from 3000ms down to about 400ms without caching. Turned a 3.5 hour task (sitemap generator) into a 15 minute one. With further database updates was able cut down an average 500ms app server response time in half!</li>
  <li>Regularly kept <a href="http://www.myfdb.com">MyFDB</a>'s gems up to date, refactored and removed unnecessary or legacy code. Cut the time to run specs in half by stubbing DragonFly with the option of enabling it where needed.</li>
  <li>Created onboarding flow with Pro profile request system and steps to teach users about site features (e.g. following, collecting).</li>
  <li>Took complete ownership of <a href="http://www.myfdb.com">MyFDB</a> for development, services and email management, and deployment with frequent releases on Heroku.</li>
  <li>Iterated on several redesigns of <a href="http://www.myfdb.com">MyFDB</a> with strong a focus on images for content, infinite scroll feeds and shifting towards a social app (user profiles, collecting, following, favoriting, sharing, etc.).</li>
  <li>Since <a href="http://www.myfdb.com">MyFDB</a> redesign average site duration time was quadrupled at its highest point with the current duration at 3 minutes and higher (lowest average was 40 seconds). The bounce rate decreased by 40%.</li>
  <li>Increased conversion rates in FitnessBuilder by syncing user and transaction data to Salesforce (background jobs) that in turn power powered ActOn to email users throughout their trial.</li>
  <li>Created <a href="http://artisanelixirs.com/">Golden Ginger</a> and <a href="http://leadingdirection.com/">Leading Direction</a> using responsive design.</li>
  <li>Redesign of <a href="http://www.9mmedia.com">9mmedia</a> using web standards, Rails, and Refinery. Later moved from SQLite to Postgres and deployed on Heroku.</li>
	<li>Planned, managed, and developed the <a href="http://www.fitnessbuilder.com">FitnessBuilder</a> web app using Flex 4.5 and Swiz interacting with Ruby on Rails service through RubyAMF.</li>
	<li>Implemented design comps completely as in earlier versions of Flex this was not possible or very time consuming to do.</li> 
	<li>Developed a Flex 4.1 and Swiz web admin for the <a href="http://itunes.apple.com/us/app/fitnessclass/id348715624?mt=8">FitnessClass</a> iPad app.</li> 
	<li>Created and maintained four in house Flex libraries for custom MX and Spark components, reusing RPC and general utilities.</li> 
</ul> 

<h4 class="job-title">Web Developer, <a href="http://www.arc90.com/">Arc90</a></h4> 
<p class="job-date">September 2007 - April 2010</p> 
<ul> 
	<li>Developed several Flex modules using PureMVC for a RESTful insurance policy origination platform that allowed multi-tasking for underwriters to manage the policy lifecycle and agents to track requests/changes.</li> 
	<li>Established a deep understanding of the Flex framework and component lifecycle to create custom components that made up an in house library.</li> 
	<li>Rewrote the Readability bookmarklet content parser to search based on positive and negative keywords in id and class attributes and to use a scoring system to determine content container from multiple results.</li>
	<li>Handled frequent changes and enhancements for multiple modular projects simultaneously delivering on time in an agile environment.</li> 
	<li>Developed an insurance policy scoring analysis management app using Flex, PureMVC, ColdFusion and AMF that dynamically created reports in Excel with data retrieved from SQL Server stored procedures.</li> 
	<li>Developed Question Picker for McGraw Hill, a cross browser, single page AJAX app with jQuery that used nested categories, dynamic modal windows, and complex addition/removal of questions.</li> 
</ul> 

<h4 class="job-title">Web Developer, <a href="http://www.aboutweb.com/">AboutWeb</a></h4>
<p class="job-date">October 2005 - September 2007</p>
<ul>
	<li>Developed a custom CMS with template, document and element versioning as a ColdFusion 8, object oriented Model Glue application for NIH.</li>
	<li>Redesigned company site from ground up using web standards.</li>
	<li>Developed class management tool for Intelliworks as part of their ColdFusion based CRM application for Higher Education.</li>
	<li>Enhanced an object oriented, Model Glue, ColdFusion, Flash form based application for <abbr title="American Academy of Otolaryngology">AAO</abbr> where doctors could submit research papers and have their peers review them.</li> 
</ul> 

<h4 class="job-title">Web Developer, Katrina Lost</h4>
<p class="job-date">September 2005 - December 2005</p>
<p>Developed a ColdFusion app for a volunteer project to aid the victims of Hurricane Katrina where users submitted information on missing relatives, contact info, and available housing. Built over a weekend. On launch day we had 179,000 visitors and used 10GB of bandwidth in 10 days!</p>

<h4 class="job-title">Webmaster, <a href="http://www.ess-home.com/">Environmental Support Solutions</a></h4> 
<p class="job-date">June 2005 - October 2005</p> 
<p>Redesigned <a href="http://www.ess-home.com/">ESS</a> and <a href="http://www.ess-expo.com/">ESS Expo</a> with web standards (source ordering, no tables for layout) and re-architected ASP back-ends providing better SEO, code reusability, and overall maintenance ease resulting in fewer and lighter files.</p> 

<h4 class="job-title">Web Developer, <a href="http://www.bethesdahosting.com/">Bethesda Hosting</a></h4> 
<p class="job-date">March 2005 - July 2005</p> 
<p>Developed new features for Fusebox 3 apps. Learned ASP on the job.</p> 

<h4 class="job-title">Web Intern, <a href="http://www.wri.org/">World Resources Institute</a></h4> 
<p class="job-date">April 2004 - April 2005</p> 
<p>Replaced the site's tree navigation with a cross browser, drop down menu. Worked on various ColdFusion based tools.</p>

<h3>Skills and Technologies</h3> 

<p><strong>Languages</strong>: Ruby, <abbr title="Hypertext Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, CoffeeScript, JavaScript, Objective-C, <abbr title="ActionScript 3">AS3</abbr>, <abbr title="Macromedia eXtensible Markup Language">MXML</abbr>, ColdFusion, <abbr title="Representational State Transfer">REST</abbr>, <abbr title="JavaScript Object Notation">JSON</abbr>, <abbr title="Extensible Markup Language">XML</abbr></p> 

<p><strong>Frameworks</strong>: Rails, jQuery, Ember.js, Flex, Swiz, Backbone.js, Sinatra, PureMVC, Framework One, Model-Glue</p> 

<p><strong>Tools</strong>: Coda 2, Git, Heroku, Postgres, Xcode, Photoshop, Flash Builder, SVN, MySQL, SQL Server, CouchDB</p> 

<h3>Education</h3>

<p><strong>Montgomery College</strong><br /> 
<abbr title="Associate of Applied Science">A.A.S.</abbr>, Web Programming Degree - 3.57 GPA (2001-2005)</p> 

<h3>Presentations</h3>

<p><a href="/presentations">Downloads are listed</a> for each presentation with descriptions.</p>

<h4>CSS: Cosmetic Content Without The Bloat</h4>

<ul>
<li>9mmedia Tech Talk Meetup on March 21st, 2013</li>
</ul>

<h4>Using Flex Frameworks to Build Data Driven Applications</h4>

<ul>
<li>Adobe MAX 2009 on October 6th and 7th, 2009 (Presented on PureMVC)</li>
</ul>

<h4>Building Maintainable Applications with PureMVC</h4>

<ul>
<li>FITC Toronto in April 2010</li>
<li>FITC Amsterdam on February 23rd, 2010</li>
<li>New York Flex User Group on November 19th, 2009</li>
</ul>

<h4>Building ColdFusion Applications with Framework One</h4>

<ul>
<li>New York ColdFusion User Group on January 12th, 2010</li>
</ul>

<h4>Digging Through the Flex Framework</h4>

<ul>
<li>FITC Unconference at Adobe MAX 2009 on October 5th, 2009</li> 
<li>CFUnited 2009 on August 13th, 2009</li> 
<li>New York Flex User Group on July 26th, 2009</li> 
<li>CFUnited Express New York on April 20th, 2009</li> 
</ul>

<h3>Awards, Certifications, and Honors</h3> 
 
<ul> 
	<li>Flex 2: Data &amp; Communications (Adobe Certified Training)</li> 
	<li>Flex 2: Developing Rich Client Applications (Adobe Certified Training)</li> 
	<li>Hispanic Student Achievement Award (Montgomery College)</li> 
	<li>Computer Applications Academic Achievement Award (Montgomery College)</li> 
	<li>Best Final Project Award in Advanced ColdFusion (Montgomery College)</li> 
	<li>Best Final Project Award in ColdFusion (Montgomery College)</li> 
</ul>