<h3>Experience</h3> 
 
<h4 class="job-title">Senior Software Developer, <a href="http://www.9mmedia.com/">9mmedia</a></h4> 
<p class="job-date">April 2010 - Present</p> 
<ul> 
  <li>Created several Rails jobs to sync FitnessBuilder user and transaction data to Salesforce for reporting that in turn powered ActOn to email users throughout their trial in an effort to increase conversion rates.</li>
  <li>Implemented responsive designs using media queries for <a href="http://artisanelixirs.com/">Golden Ginger</a> and <a href="http://leadingdirection.com/">Leading Direction</a></li>
  <li>Redid the 9m site using HTML5, CSS, Rails and Refinery from Flash.</li>
	<li>Planned, managed and developed the <a href="http://www.fitnessbuilder.com">FitnessBuilder</a> web app using Flex 4.5 and Swiz interacting with Ruby on Rails service through AMF.</li>
	<li>Implemented design comps completely as in earlier versions of Flex this was not possible or very time consuming to do.</li> 
	<li>Developed a Flex 4.1 and Swiz web admin for the <a href="http://itunes.apple.com/us/app/fitnessclass/id348715624?mt=8">FitnessClass</a> iPad app.</li> 
	<li>Created and maintained four in house Flex libraries for custom MX and Spark components, reusing RPC and general utilities.</li> 
</ul> 
 
<h4 class="job-title">Web Developer, <a href="http://www.arc90.com/">Arc90</a></h4> 
<p class="job-date">September 2007 - April 2010</p> 
<ul> 
	<li>Developed several Flex modules using PureMVC for a RESTful insurance policy origination platform that allowed multi-tasking for underwriters to manage the policy lifecycle and agents to track requests/changes.</li> 
	<li>Established a deep understanding of the Flex framework and component lifecycle to create custom components that made up an in house library.</li> 
	<li>Rewrote the Readability bookmarklet content parser to search based on positive and negative keywords in id and class attributes and to use a scoring system to determine content container from multiple results.</li>
	<li>Handled frequent changes and enhancements for multiple modular projects simultaneously delivering on time in an agile environment.</li> 
	<li>Developed an insurance policy scoring analysis management app using Flex, PureMVC, ColdFusion and AMF that dynamically created reports in Excel with data retrieved from SQL Server stored procedures.</li> 
	<li>Developed Question Picker for McGraw Hill, a cross browser, single page AJAX app with jQuery that used nested categories, dynamic modal windows, and complex addition/removal of questions.</li> 
</ul> 
 
<h4 class="job-title">Web Developer, <a href="http://www.aboutweb.com/">AboutWeb</a></h4> 
<p class="job-date">October 2005 - September 2007</p> 
<ul> 
	<li>Developed a custom CMS with template, document and element versioning as a ColdFusion 8, object oriented Model Glue application for NIH.</li>
	<li>Redesigned company site from ground up using web standards.</li>
	<li>Developed class management tool for Intelliworks as part of their ColdFusion based CRM application for Higher Education.</li>
	<li>Enhanced an object oriented, Model Glue, ColdFusion, Flash form based application for AAO (American Academy of Otolaryngology) where doctors could submit research papers and have their peers review them.</li> 
</ul> 
 
<h4 class="job-title">Web Developer, Katrina Lost</h4> 
<p class="job-date">September 2005 - December 2005</p> 
<p>Developed a ColdFusion app for a volunteer project to aid the victims of Hurricane Katrina where users submitted information on missing relatives, contact info, and any available housing. Built over a weekend. On launch day we had 179,000 visitors and used 10GB of bandwidth in 10 days!</p> 
 
<h4 class="job-title">Webmaster, <a href="http://www.ess-home.com/">Environmental Support Solutions</a></h4> 
<p class="job-date">June 2005 - October 2005</p> 
<p>Managed and redesigned both <a href="http://www.ess-home.com/">www.ess-home.com</a> and <a href="http://www.ess-expo.com/">www.ess-expo.com</a> with web standards (source ordering, no tables for layout) and re-architected both ASP back-ends providing better flexibility for implementing SEO, code reusability, and  overall maintenance ease resulting in fewer and lighter files.</p> 
 
<h4 class="job-title">Web Developer, <a href="http://www.bethesdahosting.com/">Bethesda Hosting</a></h4> 
<p class="job-date">March 2005 - July 2005</p> 
<p>Developed new features for Fusebox 3 applications. Learned ASP on the job.</p> 
 
<h4 class="job-title">Web Intern, <a href="http://www.wri.org/">World Resources Institute</a></h4> 
<p class="job-date">April 2004 - April 2005</p> 
<p>Replaced the site's DHTML tree menu with a cross browser, drop down menu. Worked on various CF based tools.</p>

<h3>Presentations</h3> 
 
<h4>Using Flex Frameworks to Build Data Driven Applications</h4> 
 
<ul> 
<li>Adobe MAX 2009 on October 6th and 7th, 2009 (Presented on PureMVC)</li> 
</ul> 
 
<h4>Building Maintainable Applications with PureMVC</h4> 
 
<ul> 
<li>FITC Toronto in April 2010</li> 
<li>FITC Amsterdam on February 23rd, 2010</li> 
<li>New York Flex User Group on November 19th, 2009</li> 
</ul> 
 
<h4>Building ColdFusion Applications with Framework One</h4> 
 
<ul> 
<li>New York ColdFusion User Group on January 12th, 2010</li> 
</ul> 
 
<h4>Digging Through the Flex Framework</h4> 
 
<ul> 
<li>FITC Unconference at Adobe MAX 2009 on October 5th, 2009</li> 
<li>CFUnited 2009 on August 13th, 2009</li> 
<li>New York Flex User Group on July 26th, 2009</li> 
<li>CFUnited Express New York on April 20th, 2009</li> 
</ul> 
 
<h3>Skills and Technologies</h3> 
 
<p><strong>Languages</strong>: Ruby, <abbr title="Hypertext Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, CoffeeScript, <abbr title="JavaScript">JS</abbr>, <abbr title="ActionScript 3">AS3</abbr>, <abbr title="Macromedia eXtensible Markup Language">MXML</abbr>, ColdFusion, <abbr title="Representational State Transfer">REST</abbr>, <abbr title="JavaScript Object Notation">JSON</abbr>, <abbr title="Extensible Markup Language">XML</abbr></p> 

<p><strong>Frameworks</strong>: Rails, Flex, Swiz, jQuery, Backbone.js, Sinatra, PureMVC, Framework One, Model-Glue</p> 

<p><strong>Tools</strong>: Coda, Flash Builder (Eclipse), Git, Subversion, Photoshop, CouchDB, Sequel Pro, MySQL, SQL Server</p> 

<h3>Education</h3> 
 
<p><strong>Montgomery College</strong><br /> 
<abbr title="Associate of Applied Science">A.A.S.</abbr>, Web Programming Degree - 3.57 GPA (2001-2005)</p> 
 
<h3>Awards, Certifications, and Honors</h3> 
 
<ul> 
	<li>Flex 2: Data &amp; Communications (Adobe Certified Training)</li> 
	<li>Flex 2: Developing Rich Client Applications (Adobe Certified Training)</li> 
	<li>Hispanic Student Achievement Award (Montgomery College)</li> 
	<li>Computer Applications Academic Achievement Award (Montgomery College)</li> 
	<li>Best Final Project Award in Advanced ColdFusion (Montgomery College)</li> 
	<li>Best Final Project Award in ColdFusion (Montgomery College)</li> 
</ul>