<p class="note">This is a great dish if you are short on time and want something filling with little effort. No need to do much beforehand and only takes a few minutes to get everything ready before cooking.</p>

<h3>Ingredients</h3>

<ul>
	<li>Package of skinless, boneless chicken breast</li>
	<li>1/2 red pepper per chicken</li>
	<li>1 garlic clove per chicken</li>
	<li>Butter</li>
	<li>Pepper</li>
	<li>Salt</li>
	<li>White wine</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Buy a package of skinless, boneless chicken breast</li>
	<li>For each piece of chicken wash and cut 1/2 a red pepper and chop 1 large garlic clove</li>
	<li>On a plate place chicken, add pepper, salt and garlic to all sides</li>
	<li>Heat pan at high and add 1 tablespoon of butter</li>
	<li>Once butter is melted add chicken and then the red peppers</li>
	<li>Heat at medium for 4 minutes to each side</li>
	<li>After each side is cooked turn heat on low</li>
	<li>Add some white wine (as much as you like) that will make a nice sauce to go with the chicken</li>
	<li>Scrap the bottom of the pan with a wooden spoon or spatula to make a brown sauce</li>
	<li>Once done turn off the heat and serve</li>
</ol>
