<p class="note">The secret for this recipe is using <a href="http://en.wikipedia.org/wiki/Panko">Panko</a> (Japanese breadcrumbs). Packaged breadcrumbs or making your own just doesn't come close. Trust me. I've tried it all. As an easy side dish I suggest my <a href="/recipes/farfalle-with-spring-onions">Farfalle with Spring Onions</a> recipe.</p>

<h3>Ingredients</h3>

<ul>
	<li>Package of skinless, boneless chicken breast (do not use cutlets, to uneven)</li>
	<li>Japanese breadcrumbs (Panko)</li>
	<li>Parmesan or Pecorino Romano cheese</li>
	<li>Olive oil or butter</li>
	<li>Lemons (many!)</li>
	<li>Oregano</li>
	<li>Thyme</li>
	<li>Pepper</li>
	<li>Salt</li>
	<li>Flour</li>
	<li>2-3 eggs (3 eggs for 2 pounds of chicken)</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Cut the chicken in half horizontally</li>
	<li>Place 1 plate and 2 bowls on the counter</li>
	<li>In the plate add flour</li>
	<li>In the first bowl crack open 2 eggs, add pepper, salt, and then take a fork and mix well</li>
	<li>In the second bowl put the Japanese breadcrumbs, parmesan cheese, pepper, salt, oregano, thyme and mix well</li>
	<li>Assign only one hand to remove the chicken from the egg</li>
	<li>Take a piece of chicken and rub both sides well in the plate of flour</li>
	<li>Then dunk each side of the chicken in the egg mix</li>
	<li>Now smash each side of the chicken into the bowl of breadcrumbs until completely covered</li>
	<li>Repeat steps 6-9 for each piece of chicken</li>
	<li>Take a large cooking pan and put a thin layer of olive oil</li>
	<li>Heat the olive oil at medium to high for about 2 minutes</li>
	<li>Drop half a tablespoon of butter in the cooking pan and spread it around or just use olive oil which works great</li>
	<li>Once the butter is dissolved place each piece of chicken in the pan</li>
	<li>Cook the milanesas at medium for about 1-2 minutes to each side (or until breadcrumbs are a golden brown color)</li>
	<li>You can place each piece and wrap in paper towel to soak up any grease</li>
	<li>Cut lemons in half and squeeze lemon juice on milanesas or serve separately</li>
</ol>
