<p class="note">If you love fried food but can't stand the grease and fat you will love this. It has all the flavor you would want without any of the unheathly ingredients. Just a note that I recommend adding more pecorino romano cheese than breadcrumbs.</p>

<h3>Ingredients</h3>

<ul>
	<li>Package of skinless, boneless chicken breast</li>
	<li>1 egg for each 3 pieces of chicken</li>
	<li>Japanese breadcrumbs (Panko)</li>
	<li>Parmesan or Pecorino Romano cheese</li>
	<li>Freshly ground black pepper</li>
	<li>Olive oil</li>
	<li>Thyme</li>
	<li>Salt</li>
	<li>Lemons</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Place an empty bowl in the freezer, we'll need this for the egg white later on</li>
	<li>1 chicken breast per person and 1 egg for each 3 pieces of chicken breast</li>
	<li>Rinse chicken with water and dry with a piece of paper towel</li>
	<li>Take a bowl and add Japanese breadcrumbs, pecorino romano cheese (or parmesan cheese), thyme, salt and pepper and mix well</li>
	<li>Remove empty bowl from the freezer and add an egg white (no yolk)</li>
	<li>Stir the egg white well with a fork till foamy/frosty white (like beer foam)</li>
	<li>Take a piece of chicken and rub both sides in the egg white</li>
	<li>Then again rub both sides well in the bowl of breadcrumbs</li>
	<li>Repeat steps 8-9 for each piece of chicken breast</li>
	<li>Preheat oven at 400 degrees</li>
	<li>Pour a thin cover of olive oil on a cookie sheet and then place the chicken on it</li>
	<li>Bake the chicken for about 20 minutes</li>
	<li>Serve with sliced lemon(s)</li>
</ol>