<p class="note">The secret for this recipe is in the breadcrumbs, Japanese breadcrumbs to be exact. Trust me on this one. I have tried every possible package of breadcrumbs at the grocery store, even going as far as grinding my own from baguettes in a blender. Simply put, Japanese breadcrumbs are the best and for this recipe I recommend nothing else.</p>

<h3>Ingredients</h3>

<ul>
	<li>Package of skinless, boneless chicken breast</li>
	<li>Japanese breadcrumbs (Panko)</li>
	<li>Parmesan or Pecorino Romano cheese</li>
	<li>Freshly ground black pepper</li>
	<li>Olive oil</li>
	<li>Lemons (many!)</li>
	<li>Butter</li>
	<li>Thyme</li>
	<li>Salt</li>
	<li>Flour</li>
	<li>2 eggs</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>If the chicken are thick cut it horizontally in half</li>
	<li>Place 1 plate and 2 bowls on the counter</li>
	<li>In the plate put several spoons of flour (two is usually enough for me)</li>
	<li>In the first bowl crack open 2 eggs, add pepper, salt, and then take a fork and mix well</li>
	<li>In the second bowl put the Japanese breadcrumbs, parmesan cheese, pepper, salt, thyme leaves and mix well</li>
	<li>Take a piece of chicken and rub both sides well in the plate of flour</li>
	<li>Then dunk the chicken in the egg mix</li>
	<li>Now smash each side of the chicken into the bowl of breadcrumbs to make sure they stick well and completely cover</li>
	<li>Repeat steps 7-9 for each piece of chicken</li>
	<li>Take a large cooking pan and put a thin cover of olive oil</li>
	<li>Heat the olive oil at medium to high for about 2 minutes</li>
	<li>Drop half a tablespoon of butter in the cooking pan and spread it around</li>
	<li>Once the butter is disolved place each piece of chicken in the pan</li>
	<li>Cook the milanesas at medium for about 3 minutes to each side or till each side is golden brown</li>
	<li>Use my <a href="/recipes/farfalle-with-spring-onions">Farfalle with Spring Onions recipe</a> as a side dish</li>
	<li>Have <strong>several slices of lemon</strong> at the table so you can pour lemon juice on the chicken</li>
</ol>