<p class="note">If you love steak but are tired of eating it plain and want it served with more flavor and quickly this is the recipe for you. You will find the marinate sauce easy to make with the only tough requirement being the wait time. When food is good you never want to wait for it.</p>

<h3>Ingredients</h3>

<ul>
	<li>Sirloin steak (although any steak will do)</li>
	<li>Freshly ground black pepper</li>
	<li>1 Lemon</li>
	<li>Olive oil</li>
	<li>Oregano</li>
	<li>2-5 garlic cloves</li>
	<li>Butter</li>
	<li>Salt</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Place the steak in a oval pan (only used for marinating, not cooking)</li>
	<li>Squeeze all the juice out of 1 lemon into a cup</li>
	<li>Chop 2-3 garlic cloves (the more the better)</li>
	<li>Add oregano, olive oil, black pepper and the chopped garlic in the cup</li>
	<li>Stir the marinate sauce well</li>
	<li>Pour the marinate sauce on one side of the steak, flip it, and pour again</li>
	<li>Put the steak in the refrigerator for at least 3 hours but no more than 24</li>
	<li>Before you plan to cook leave the steak out for an hour</li>
	<li>Once ready add a little salt to the steak</li>
	<li>Place a small piece of butter on the grill pan</li>
	<li>Cook each side of the steak for about 6 minutes at medium-high, maybe longer depending on the thickness of the meat</li>
</ol>