<p>Baked chicken breast covered in paprika and butter that comes out very tender. This goes great alongside a side dish of rice or vegetables.</p>

<h3>Ingredients</h3>

<ul>
  <li>Skinless boneless chicken breast</li>
  <li>1 tablespoon of butter per chicken breast</li>
  <li>Paprika</li>
  <li>Lemons</li>
  <li>Salt</li>
  <li>Pepper</li>
</ul>

<h3>Directions</h3>

<ol>
  <li>Preheat oven at 400 degrees F</li>
  <li>In an oven pan place butter and heat lightly on stove top until butter melts completely</li>
  <li>Place chicken on oven pan and add salt and pepper to taste</li>
  <li>Rub chicken all over in melted butter and lay flat</li>
  <li>Cover top side of chicken in paprika</li>
  <li>Bake in the preheated oven for 15-18 minutes</li>
  <li>Serve with lemons</li>
</ol>
