<p class="note">The secret for this recipe is using Japanese breadcrumbs called <a href="http://en.wikipedia.org/wiki/Panko">Panko</a>. Packaged breadcrumbs or making your own just doesn't come close. Trust me. I've tried it all.</p>

<h3>Ingredients</h3>

<ul>
	<li>Thin cuts of bottom round steak</li>
	<li>Japanese breadcrumbs (Panko)</li>
	<li>3-5 large garlic cloves</li>
	<li>Olive oil</li>
	<li>Lemons (many!)</li>
	<li>Parsley</li>
	<li>Crushed red pepper</li>
	<li>Ground black pepper</li>
	<li>Salt</li>
	<li>2-3 eggs</li>
</ul>

<h3>Directions</h3>

<ol>
  <li>Place 1 plate and 2 bowls on the counter</li>
  <li>In the first bowl crack open eggs</li>
  <li>Add crushed red pepper (optional), pepper, salt, parsley, and garlic (the more the better)</li>
  <li>Take a fork and mix well</li>
  <li>Have the steak sit in the egg mix for at least 15-30 minutes to marinate (or better yet overnight)</li>
  <li>In the second bowl add breadcrumbs</li>
  <li>Assign only one hand to remove steak from the egg</li>
  <li>Take each piece of steak and smash each side into the bowl of breadcrumbs to not only stick well but to flatten the steak</li>
  <li>Pour a thin layer of olive oil in a cooking pan</li>
  <li>Cook milanesa at about medium heat for about 1-2 minutes each side (or until breadcrumbs are a golden brown color)</li>
  <li>You can place each piece and wrap in paper towel to soak up any grease</li>
  <li>Cut lemons in half and squeeze lemon juice on milanesas or serve separately</li>
</ol>
