<p class="note">For those that know me well, they know I absolutely love onions. I'm so crazy about them I probably would eat them raw! Ok that might be going a bit to far but I love onions and shallots (also known as french onions) in just about everything. They are essential cooking ingredients and with this steak its no exception.</p>

<h3>Ingredients</h3>

<ul>
	<li>Sirloin steak (although any steak will do)</li>
	<li>Freshly ground black pepper</li>
	<li>Olive oil</li>
	<li>Oregano</li>
	<li>2-5 garlic cloves</li>
	<li>Butter (optional, use olive oil instead)</li>
	<li>Salt</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Peel and chop all shallots (minimum 1 shallot per steak)</li>
	<li>In an iron black pan at medium heat drop 1/2 tablespoon of butter</li>
	<li>The butter should turn brown and melt very quickly so add the steak to the pan</li>
	<li>Cook the steak on medium-high heat, each side for 2-3 minutes or depending on thickness</li>
	<li>Once the steak is cooked, remove quickly, place it on a plate and cover it so it stays warm</li>
	<li>Add another 1/2 tablespoon of butter to the pan</li>
	<li>Add several tablespoons of red wine vinegar (or red wine)</li>
	<li>Then toss in the chopped shallots and stir them in the pan (should only take a minute to heat up)</li>
	<li>Add the shallots on top of the steak along with any natural sauce from the pan and serve</li>
</ol>
