/* 
	Title:		Master styles for screen media
	Author: 	Javier Julio - JJfutbol@gmail.com
*/

/* reset styles
--------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* element specific default styles 
--------------------------------------------- */
abbr, 
acronym {
	border-bottom: 1px dotted #000;
	cursor: help;
	font-style: normal;
}
a:link, a:visited, a:active {
	color: #901B0F;
	outline: none;
	text-decoration: underline;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color .0.5s ease-out;
	transition: color 0.5s ease-out;
}
a:hover {
	color: #DD565C;
}
strong {
	font-weight: bold;
}
blockquote {
  border-left: 5px solid #dfdfdf;
  color: #6D6E72;
  padding: 0 0 0 12px;
  margin: 5px 0 5px 2px;
}
p {
	line-height: 150%;
	margin: 0 0 14px 0;
	padding: 0;
}
ul {
	list-style: square;
}
ol {
	list-style: decimal;
}
ul, ol {
	line-height: 165%;
	margin: 0;
	padding: 0 0 17px 20px;
}
ul li, ol li {
	padding: 0px 0px 6px;
}
h1, h2, h3 {
  font: normal 14px Georgia, Times, serif;
}
h1 {
	font-size: 20px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
h2 {
  border-bottom: 1px solid #ccc;
	font-size: 24px;
	margin-bottom: 20px;
	padding-bottom: 15px;
}
h3 {
	font-size: 20px;
	margin-bottom: 15px;
}
h4 {
	font-size: 14px;
	margin-bottom: 8px;
}
h5 {
	font-size: 12px;
	font-weight: bold;
}
h6 {
	font-size: 12px;
}

/* layout 
--------------------------------------------- */
body {
  background: #fff;
  color: #4D4E52;
  font: normal 14px "HelveticaNeue", Helvetica, Arial, sans-serif;
}
#container {
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 700px;
}
header#banner {
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 56px;
  text-align: right;
  width: 100px;
}
#logo {
  background: #5D6361;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-family: Menlo, Verdana, sans-serif;
  font-size: 24px;
  left: 0;
  letter-spacing: 1px;
  padding: 15px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color .0.5s ease-out;
	transition: background-color 0.5s ease-out;
}
#logo:hover {
  background: #BF5F5C;
}
h1.title {
  left: 70px;
  position: absolute;
  top: 4px;
  display: none;
}
nav#nav {
  font-size: 14px;
  font-weight: bold;
  left: 0;
  margin: 0;
  padding: 0 0 0 5px;
  position: absolute;
  top: 130px;
  text-align: left;
  width: 100px;
}
nav#nav ul, 
nav#nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav#nav ul li {
  padding: 3px 0;
}
nav#nav ul li a, 
nav#social ul li a, 
nav#nav ul li.current a:hover {
  color: #aaa;
  text-decoration: none;
}
nav#nav ul li a:hover, 
nav#nav ul li.current a {
  color: #5D6361;
}
nav#github {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}
section#content {
  border-bottom: 1px solid #ccc;
  padding: 70px 0 10px 0;
  margin-left: 150px;
}
footer#content-footer {
	color: #666;
	font-size: 12px;
  margin: 30px 0;
  padding: 0 0 0 150px;
  position: relative;
}
footer#content-footer nav#social {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: -3px;
}
footer#content-footer nav#social ul li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0 0 0 18px;
}

/* blog specific styles 
--------------------------------------------- */
section#content article .date {
  color: #6D6E72;
  font-size: 12px;
}
section#content article .body {
  padding: 18px 0 40px 0;
}
section#content ul.archives .date {
  display: block;
}
section#content ul.archives, section#content ul.archives li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
section#content ul.archives li {
  padding-bottom: 12px;
}

/* page specific styles 
--------------------------------------------- */
#recipes #content .icon {
	padding: 1px 20px 1px 0;
}
#resume .job-title, #recipes .recipe-title {
	font-weight: bold;
	margin: 0 0 8px 0;
}
#resume .job-date {
  color: #5d5d5d;
	margin: 0 0 8px 0;
}

/* ----- FIGURES ----- */
span.figure {
	background: #ccc;
	display: block;
	padding: 2px;
	margin-bottom: 0;
	text-align: center;
}
span.figure.gutter {
	float: left;
	margin: 0 1em 0 0;
}
span.figure img {
	display: block;
}
span.figure strong {
	text-transform: uppercase;
}
img.figure {
	padding: 6px;
}

/* misc. 
--------------------------------------------- */
.hide {
	display: none;
}
.icon {
	padding: 1px 0 1px 20px;
}


/* tested on iPhone 4 and Nexus One only */
@media only screen and (max-device-width: 480px) 
{
	#container {
		margin: 0;
		text-align: left;
		width: auto;
	}
	#header {
		float: none;
		margin: 0;
		padding: 0;
		position: static;
		text-align: center;
		width: auto;
	}
	#nav {
		margin: 0;
		padding: 5px 0;
		width: auto;
	}
	#nav ul, #nav li {
		text-align: center;
	}
	#nav:after {
		clear: both;
		content: ".";
		display: block;
		font-size: 1px;
		line-height: 1px;
	}
	#nav ul {
		margin: 0 0 0 4px;
		padding: 0;
	}
	#nav ul li {
		display: block;
		float: left;
		padding: 0;
	}
	#nav ul li a, #nav ul li a:active, #nav ul li a:visited {
		display: block;
		padding: 8px 9px;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}
	#nav ul li a:hover, 
	#nav ul li.current a {
		background: none;
	}
	#social .elsewhere {
		clear: left;
		list-style: none;
		margin: 20px auto 0 auto;
		padding: 0;
		position: static;
		text-align: center;
	}
	#social .elsewhere li {
		display: inline;
		list-style: none;
		margin: 0 6px;
		padding: 0;
	}
	#content {
		border: none;
		border-radius: 0;
		margin: 0;
		padding: 0;
		width: auto;
	}
	#content .inner {
		padding: 12px;
	}
	#footer {
		font-size: 12px;
		width: auto;
	}	
}