/* 
	Title:		Master styles for screen media
	Author: 	Javier Julio - JJfutbol@gmail.com
*/

/* reset styles
--------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* element specific default styles 
--------------------------------------------- */
abbr, 
acronym {
	border-bottom: 1px dotted #000;
	cursor: help;
	font-style: normal;
}
a, a:link, a:visited, a:active {
  border-bottom: 1px solid #C0C0C0;
	color: #5D5E72;
	outline: none;
	text-decoration: none;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color .0.5s ease-out;
	transition: color 0.5s ease-out;
}
a:hover {
	color: #901B0F;
	text-decoration: none;
}
em {
  font-style: italic;
}
strong {
	font-weight: bold;
}
blockquote {
  border-left: 5px solid #dfdfdf;
  color: #6D6E72;
  padding: 0 0 0 12px;
  margin: 5px 0 5px 2px;
}
p {
	line-height: 150%;
	margin: 0 0 18px 0;
	padding: 0;
}
ul {
	list-style: square;
}
ol {
	list-style: decimal;
}
ul, ol {
	line-height: 165%;
	margin: 0;
	padding: 0 0 17px 20px;
}
ul li, ol li {
	padding: 0px 0px 6px;
}
h1, h2, h3, h4, h5 {
  font-family: Georgia, Times, serif;
}
h1 {
	font-size: 20px;
	margin-bottom: 5px;
}
h2 {
	font-size: 30px;
	margin-bottom: 20px;
}
h3 {
	font-size: 22px;
	margin-bottom: 15px;
}
h4 {
	font-size: 18px;
	margin-bottom: 8px;
}
h5, h6 {
	font-size: 14px;
	font-weight: bold;
}

/* layout 
--------------------------------------------- */
body {
  background: #fff;
  color: #4D4E52;
  font: 18px "Hoefler Text", "Myriad Pro", Arial, serif;
  line-height: 30px;
}
#container {
	margin: 0 auto;
	text-align: left;
	width: 680px;
}
#banner {
  padding-top: 40px;
}
#banner h1, 
#nav {
  font-family: "Helvetica", Arial, serif;
}
#banner h1 a {
  border: none;
  text-decoration: none;
}
#nav {
  
}
#nav ul {
  font-size: 14px;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
#nav li {
  display: inline;
}
#nav ul li a {
  border: none;
  margin: 5px 5px 5px 0;
	padding: 5px 5px 5px 0;
	text-decoration:none;
}
#nav ul li a:hover {
  
}
#nav ul li.current a {
  color: #901B0F;
}
#content {
  padding: 50px 0 10px 0;
}
footer#content-footer {
	color: #666;
	font-size: 14px;
  margin: 0 0 30px 0;
  padding: 0;
  text-align: center;
}
footer#content-footer nav#social {
  margin: 0 auto;
  padding: 0;
}
footer#content-footer nav#social ul, 
footer#content-footer nav#social ul li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}
footer#content-footer nav#social ul li a {
  border: none;
  margin: 5px;
  padding: 5px;
}
#github-fork {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}

/* blog specific styles 
--------------------------------------------- */
section#content article .date, 
section#content article .subscribe {
  color: #999;
}
section#content article .body {
  padding: 15px 0 45px 0;
}
section#content article .body h4 {
  font-weight: bold;
}
section#content article .subscribe {
  font-size: 16px;
}
section#content ul.archives .date {
  color: #999;
  display: block;
}
section#content ul.archives, section#content ul.archives li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
section#content ul.archives li {
  padding-bottom: 12px;
}

/* page specific styles 
--------------------------------------------- */
.job-title {
	font-weight: bold;
	margin: 0 0 8px 0;
}
.job-date {
  color: #5d5d5d;
  font-size: 16px;
  font-weight: bold;
	margin: 0 0 8px 0;
}
.figure {
	background: #555;
	display: block;
	float: left;
	padding: 2px;
	margin: 0 1em 0 0;
	text-align: center;
}
.figure img {
	display: block;
}


/* Mobile (tested: iPhone 4, Nexus One)
--------------------------------------------- */

@media only screen and (max-device-width: 480px) 
{
	#container {
		margin: 0;
		text-align: left;
		width: auto;
	}
	#banner {
		
  }
	#nav {
		margin: 0;
		padding: 5px 0;
		width: auto;
	}
	#nav:after {
		clear: both;
		content: ".";
		display: block;
		font-size: 1px;
		line-height: 1px;
	}
	#nav ul, #nav li {
		text-align: center;
	}
	#nav ul {
		margin: 0 0 0 4px;
		padding: 0;
	}
	#nav ul li {
		display: block;
		float: left;
		padding: 0;
	}
	#nav ul li a, #nav ul li a:active, #nav ul li a:visited {
		display: block;
		padding: 8px 9px;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}
	#nav ul li a:hover, 
	#nav ul li.current a {
		background: none;
	}
	#social .elsewhere {
		clear: left;
		list-style: none;
		margin: 20px auto 0 auto;
		padding: 0;
		position: static;
		text-align: center;
	}
	#social .elsewhere li {
		display: inline;
		list-style: none;
		margin: 0 6px;
		padding: 0;
	}
	#content {
		padding: 50px 5px 10px 5px;
	}
	#footer {
		font-size: 12px;
		width: auto;
	}
	#github-fork {
    display: none;
  }
}