/* 
	Title:		Master styles for screen media
	Author: 	Javier Julio - JJfutbol@gmail.com
*/

/* reset styles
--------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main styles
--------------------------------------------- */
#header .elsewhere {
	list-style: none;
	margin: 2em 0 0 0;
	padding: 0;
}
#nav {
	margin-top: 1em;
}
#nav ul, #nav li {
	font: normal 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	list-style: none;
}
#nav ul, #nav ul li {
	margin: 0;
	padding: 0;
}
#nav ul li a, #nav ul li a:active, #nav ul li a:visited {
	display: block;
	padding: 10px 15px;
	border: none;
	color: #888;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color .0.5s ease-out;
	transition: color 0.5s ease-out;
	text-transform: uppercase;
}
#nav ul li a:hover, #nav ul li.current a {
	background: rgba(0, 0, 0, .35);
	color: #fff;
	text-decoration: none;
}

body {
	background: #e9e9e9/* url(http://static.tumblr.com/vookvsa/UKqlmwwnd/main.bg.png)*/;
	font: normal 12px "Lucida Grande", "HelveticaNeue", Helvetica, Arial, sans-serif;

}
#container {
	text-align: left;
	margin: 0 auto;
	width: 700px;
}
#header {
	background: #212121 url(http://static.tumblr.com/vookvsa/XiXlmwwqn/linen.bg.png);
	position: fixed;
	top: 0;
	bottom: 0;
	margin-left: 20px;
	width: 150px;
	-webkit-box-shadow: 0 0 9px #000;
	box-shadow: 0 0 9px #000;
	text-align: right;
}
#header .title {
	display: none;
}
#header img {
	border: none;
	margin-right: 15px;
}
#header img.figure {
	border: 2px solid #e9e9e9;
}
#header .inner {
	padding: 60px 0 35px 0;
}
#content {
	margin: 35px 0;
	color: #4E443C;
	background: white;
	border-radius: 5px;
	/*border-left: 6px solid #974C4C;*/
	-webkit-box-shadow: 0 2px 15px #BBB;
	box-shadow: 0px 2px 15px #BBB;
}
#content .inner {
	padding: 20px 20px 20px 190px;
}
#footer {
	color: #666;
	margin: 25px 0 30px 190px;
}
#footer p {
	padding: 0;
	margin: 0;
}

/* element specific default styles 
--------------------------------------------- */
abbr, acronym {
	border-bottom: 1px dotted #000;
	cursor: help;
	font-style: normal;
}
a {
	color: #974C4C; /*537AA0*/
	text-decoration: underline;
	outline: none;
}
a:hover {
	color: #537AA0;
}
strong {
	font-weight: bold;
}
p {
	line-height: 150%;
	margin: 0;
	padding: 0 0 20px 0;
}
ul {
	list-style: square;
}
ol {
	list-style: decimal;
}
ul, ol {
	line-height: 165%;
	margin: 0;
	padding: 0 0 17px 20px;
}
ul li, ol li {
	padding: 0px 0px 6px;
}

/* ----- HEADINGS ----- */
h1 { font-size: 46px; margin-bottom: 20px; }
h2 { font-size: 22px; margin-bottom: 20px; padding-bottom: 15px;}
h3 { font-size: 18px; margin-bottom: 15px; }
h4 { font-size: 14px; margin-bottom: 8px; }
h5 { font-size: 12px; font-weight: bold;}
h6 { font-size: 12px; }

h2 {border-bottom: 1px solid #ccc;}


/* page specific styles 
--------------------------------------------- */
#recipes #content .icon {
	padding: 1px 20px 1px 0;
}
#resume .formats {
	float: right;
	margin-top: -3em;
}
#resume .formats .icon {
	margin-left: 6px;
}
#resume .job-title, #recipes .recipe-title {
	font-weight: bold;
	margin: 0 0 8px 0;
}
#resume .job-date {
	margin: 0 0 8px 0;
}
#recipes p {
	padding-top: 0;
}

/* ----- CLASS HELPERS ----- */
.hide {display: none;}
.icon {padding: 1px 0 1px 20px;}



/* tested on iPhone 4 only */
@media only screen and (max-device-width: 480px) {


#container {
	font-size: 1.3em;
	text-align: left;
	margin: 0;
	width: auto;
}
#header {
	background: url(../images/bg-body.png) repeat #f4f4f4;
	float: none;
	margin: 0;
	padding: 1.5em 0 .8em 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: left;
	width: auto;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,.25);
	box-shadow: 0 3px 5px rgba(0,0,0,.25);
}
#header img.figure {
	display: none;
}
#nav {
	margin: 0;
	padding: 0 0 1.5em 0;
}
#nav ul, #nav li {
	text-align: center;
}
#nav ul {
	margin: 0;
	padding: 0 0 0 1em;
}
#nav ul li {
	display: inline;
	padding: 0 1em 0 0;
}
#nav ul li a, #nav ul li a:active, #nav ul li a:visited {
	display: inline;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	text-transform: uppercase;
}
#header .elsewhere {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
#header .elsewhere li {
	display: inline;
	list-style: none;
	margin: 0 .5em;
	padding: 0;
}
#content {
	border: 0;
	margin: 0;
	padding: 8.5em 1em 1em 1em;
	width: auto;
}
#content .inner {
	padding: 0;
}
#footer {
	margin: 0;
	padding: 1em;
	width: auto;
}

	
}