/* reset to none any structural element that is floated */
body, #container, #header, #primary, #secondary, #tertiary, #footer {
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
}

/* hide columns, nav, designated elements */
#header .figure, 
#nav, 
footer#content-footer, 
#logo, 
#github-fork, 
.hide, 
.print-hide {
  display: none !important;
}

/* remove any borders */
body *, 
#container {
  border-width: 0;
}

/* no need to differentiate links from text, remove formatting */
a, 
a:link, 
a:visited {
  background-color: inherit;
  color: inherit;
  text-decoration: underline;
}

/* simple catch-all so we have no colored items in print out */
body * {
  background: none !important;
  color: #000 !important;
}