/* reset to none any structural element that is floated */
body, #container, #header, #primary, #secondary, #tertiary, #footer {
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
}

/* hide columns, nav, designated elements */
#header .figure, #nav, .elsewhere, #footer, .hide, .print-hide {display: none !important;}

/* remove any borders */
body *, #container {border-width: 0;}

#header {
	border-bottom: solid 1px #000;
	padding: 0.5em;
}

#header .title {
	display: block;
	font-size: 28px;
	font-weight: bold;
}

/* no need to differentiate links from text, remove formatting */
a, a:link, a:visited {background-color: inherit; color: inherit; text-decoration: underline;}

/* add bottom border and bold for captions so its clearly visible */
table caption {border-bottom: 1px solid #000;}
table th {font-weight: bold;}

/* set all columns to have some right side spacing and set an auto width */
table, table tr th, table tr td {padding-right: 1.5em; width: auto;}

/* simple catch-all so we have no colored items in print out */
body * {background: none !important; color: #000 !important;}