/* 
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Javier Julio
   ========================================================================== */













/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Enable an element to be resizable without JS */
.resizable {
  resize: both;
  overflow: auto;
}

/* Shamelessly stolen from railscasts.com - thank you Ryan! */
.CodeRay pre {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #444;
  font-family: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
  margin: 0;
  overflow: auto;
  padding: 5px;
}
.CodeRay .an { color:#E7BE69 }                      /* html attribute */
.CodeRay .c  { color:#BC9358; font-style: italic; } /* comment */
.CodeRay .ch { color:#509E4F }                      /* escaped character */
.CodeRay .cl { color:#FFF }                         /* class */
.CodeRay .co { color:#FFF }                         /* constant */
.CodeRay .fl { color:#A4C260 }                      /* float */
.CodeRay .fu { color:#FFC56D }                      /* function */
.CodeRay .gv { color:#D0CFFE }                      /* global variable */
.CodeRay .i  { color:#A4C260 }                      /* integer */
.CodeRay .il { background:#151515 }                 /* inline code */
.CodeRay .iv { color:#D0CFFE }                      /* instance variable */
.CodeRay .pp { color:#E7BE69 }                      /* doctype */
.CodeRay .r  { color:#CB7832 }                      /* keyword */
.CodeRay .rx { color:#A4C260 }                      /* regex */
.CodeRay .s  { color:#A4C260 }                      /* string */
.CodeRay .sy { color:#6C9CBD }                      /* symbol */
.CodeRay .ta { color:#E7BE69 }                      /* html tag */
.CodeRay .pc { color:#6C9CBD }                      /* boolean */







/* element specific default styles 
--------------------------------------------- */

a {
  -webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color .0.5s ease-out;
	transition: color 0.5s ease-out;
}
a:link, a:visited {
	color: #6B8A96;
	outline: none;
	text-decoration: underline;
}
a:hover {
	color: #BA9471;
	text-decoration: underline;
}
pre, code {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #444;
  font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
}
code {
  padding: 0 .2em;
}
pre {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.09) 0 1px 3px inset;
  margin: 0 0 18px 0;
  padding: 7px 5px;
}
pre code {
  border: none;
  padding: 0;
}
blockquote {
  border-left: 5px solid #dfdfdf;
  color: #6D6E72;
  padding: 0 0 0 12px;
  margin: 5px 0 5px 2px;
}
p {
	line-height: 150%;
	margin: 0 0 18px 0;
	padding: 0;
}
ul, ol {
	padding: 0 0 0 25px;
}
li {
  line-height: 1.8em;
}
h1, h2, h3, h4, h5 {
  color: #666;
  font-family: Georgia, Times, serif;
  font-weight: normal;
}
h1 {
	font-size: 20px;
	margin-bottom: 5px;
}
h2 {
	font-size: 30px;
	margin-bottom: 20px;
}
h3 {
	font-size: 22px;
	margin-bottom: 15px;
}
h4 {
	font-size: 18px;
	margin-bottom: 8px;
}
h5, h6 {
	font-size: 14px;
}

/* layout 
--------------------------------------------- */
body {
  background: #e3e4e5 url('/images/background-pattern.png');
  border-top: 10px solid #525B61;
  color: #525B61;
  font-family: "Helvetica Neue", Helvetica, Calibri, Arial, serif;
}

#container {
  background-color: #f1f1f1; /* fallback */
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid #ddd;
  font-size: 1.3em;
	margin: 30px auto;
	padding: 0 30px;
	width: 640px;
}

#banner {
  padding-top: 30px;
}

#banner h1, 
#nav {
  font-weight: normal;
}

#banner h1 a {
  color: #686F73;
  font-size: 1.2em;
  text-decoration: none;
}

.first-name, .last-name {
  font-family: Menlo, "Helvetica Neue", Helvetica, Calibri, Arial, serif;
}

.last-name {
  color: #9EA7AE;
}

#nav {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

#nav ul {
  font-size: .9em;
  list-style-image: none;
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
}

#nav li {
  display: inline;
}

#nav ul li a {
  border: none;
  color: #6B8A96;
  margin: 5px 5px 5px 0;
	padding: 5px 5px 5px 0;
	text-decoration: none;
}

#nav ul li a:hover, 
#nav ul li.current a {
  color: #BA9471;
}

#content {
  padding: 10px 0;
}

footer#content-footer {
  border-top: 1px solid #ddd;
	color: #9EA7AE;
	font-size: .8em;
  margin-top: 20px;
  padding: 20px 0 30px 0;
  text-align: center;
}

footer#content-footer nav#social {
  margin: 0 auto;
  padding: 0;
}

footer#content-footer nav#social ul, 
footer#content-footer nav#social ul li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

footer#content-footer nav#social ul li a {
  border: none;
  margin: 0px;
  padding: 5px;
}

#github-fork {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}

/* blog specific styles 
--------------------------------------------- */
section#content article header h3 {
  font-size: 1.4em;
  font-weight: normal;
  margin-bottom: 10px;
}

section#content article header a {
  color: #BA9471;
  text-decoration: none;
}

section#content article header a:hover {
  color: #CB6A1B;
}

section#content article .date, 
section#content article .subscribe {
  color: #999;
  font-size: .9em;
}

section#content article .body {
  padding: 18px 0 40px 0;
}

section#content article .body h4 {
  font-weight: bold;
}

section#content article .subscribe {
  font-size: 16px;
}

section#content ul.archives .date {
  color: #999;
  display: block;
}

section#content ul.archives, section#content ul.archives li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

section#content ul.archives li {
  padding-bottom: 12px;
}

section#content .older {
  margin-bottom: 45px;
}

/* page specific styles 
--------------------------------------------- */
.job-title {
	font-weight: bold;
	margin: 0 0 8px 0;
}

.job-date {
  color: #888;
  font-size: 14px;
	margin: 0 0 8px 0;
}

.figure {
	background: #555;
	display: block;
	float: left;
	padding: 2px;
	margin: 0 1em 0 0;
	text-align: center;
}

.figure img {
	display: block;
}


/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}

/* Mobile (tested: iPhone 4, Nexus One)
--------------------------------------------- */
@media only screen and (max-device-width: 480px) 
{
	#container {
    border-width: 1px;
    font-size: 1.1em;
		margin: 1em;
		padding: 1em;
		width: auto;
	}
	
	#banner {
		padding: 10px 0;
  }
  
	#nav {
    font-weight: bold;
		margin: 0;
		padding: 0;
		width: auto;
	}
	
	#nav:after {
		clear: both;
		content: ".";
		display: block;
		font-size: 1px;
		line-height: 1px;
	}
	
	#nav ul {
    margin: 0 0 0 -3px;
    padding: 0;
	}
	
	#nav ul li {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	
	#nav ul li a, #nav ul li a:active, #nav ul li a:visited {
		display: block;
		padding: 3px 5px 3px 5px;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
	}
	
	#social .elsewhere {
		clear: left;
		list-style: none;
		margin: 20px auto 0 auto;
		padding: 0;
		position: static;
		text-align: center;
	}
	
	#social .elsewhere li {
		display: inline;
		list-style: none;
		margin: 0 6px;
		padding: 0;
	}
	
	#content {
		padding: 0;
	}
	
	footer#content-footer {
    font-size: 0.9em;
	}
	
	#github-fork {
    display: none;
  }
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  
  /* reset any structural elements */
  body, #container, #header, #primary, #secondary, #tertiary, #footer {
  	float: none !important;
  	margin: 0 !important;
  	padding: 0 !important;
  	width: auto !important;
  }
  
  /* hide columns, nav, designated elements */
  #nav, 
  footer#content-footer, 
  #github-fork, 
  .hide, 
  .print-hide {
    display: none !important;
  }
  
  /* remove any borders */
  html, body, body *, #container {
    border-width: 0;
  }
  
  /* no need to differentiate links from text, remove formatting */
  a, 
  a:link, 
  a:visited {
    background-color: inherit;
    color: inherit;
    text-decoration: underline;
  }
  
  /* simple catch-all so we have no colored items in print out */
  body * {
    background: none !important;
    color: #000 !important;
  }
}