* {
  @include box-sizing(border-box);
}

body {
  background-color: #fff;
  color: $base-text-color;
  font-family: $base-font-family;
  font-size: ($base-font-size / 16px) * 1em;
  line-height: $line-height-ratio;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: 700;
}

a:link, a:visited {
	color: #00A8C6; //#BB4B39 #0098c6
	text-decoration: none;
}

a:link, a:hover {
  @include transition(color 0.5s ease);
}

a:hover {
	//color: #BB4B39;
	text-decoration: underline;
}

p {
  margin: 0 0 $base-spacing-unit 0;
}

pre, code {
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code {
  font-size: 1rem;
  padding: .2em .3em;
  white-space: nowrap;
}

pre {
  line-height: 1;
  margin: 0 0 $base-spacing-unit 0;
  padding: $half-spacing-unit;
}

pre code {
  background-color: transparent;
  padding: 0;
  white-space: pre;
  white-space: pre-wrap;
}

blockquote {
  border-left: 3px solid #dfdfdf;
  color: #727B81;
  margin: 0 0 0 2px;
  padding: 0 $half-spacing-unit;
}

ul, ol {
	margin: 0 0 $base-spacing-unit 0;
	padding: 0 0 0 $base-spacing-unit;
}
