* {
  @include box-sizing(border-box);
}

body {
  background-color: #fff;
  color: #343838;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Calibri, Arial, serif;
  font-size: 18px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
}

a:link, a:visited {
	color: #00A8C6; //#BB4B39 #0098c6
	text-decoration: none;
}

a:link, a:hover {
  @include transition(color 0.5s ease);
}

a:hover {
	//color: #BB4B39;
	text-decoration: underline;
}

pre, code {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  color: #444;
  font-family: Menlo, Consolas, Courier, monospace;
}

code {
  @include border-radius(3px);
  padding: 0 .3em;
  white-space: nowrap;
}

pre {
  @include border-radius(3px);
  line-height: 1.2;
  margin: 0 0 18px 0;
  padding: 10px;
}

pre code {
  border: none;
  color: #222;
  font-size: 90%;
  padding: 0;
  white-space: pre;
  white-space: pre-wrap;
}

blockquote {
  border-left: 3px solid #dfdfdf;
  color: #727B81;
  margin: 0;
  padding: 0 20px;
}

ul, ol {
	padding-left: 25px;
}
