h1, .heading-1 { font-size: $h1-font-size - $h1-font-reduction; }
h2, .heading-2 { font-size: $h2-font-size - $h2-font-reduction; }
h3, .heading-3 { font-size: $h3-font-size - $h3-font-reduction; }
h4, .heading-4 { font-size: $h4-font-size - $h4-font-reduction; }
h5, .heading-5 { font-size: $h5-font-size - $h5-font-reduction; }
h6, .heading-6 { font-size: $h6-font-size - $h6-font-reduction; }

.hN {
  margin-bottom: 0;
}

@media #{$medium-up} {
  h1 { font-size: $h1-font-size; }
  h2 { font-size: $h2-font-size; }
  h3 { font-size: $h3-font-size; }
  h4 { font-size: $h4-font-size; }
  h5 { font-size: $h5-font-size; }
  h6 { font-size: $h6-font-size; }
}
