/* Shamelessly stolen from railscasts.com - thank you Ryan! */
.CodeRay pre {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #444;
  font-family: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
  margin: 0;
  overflow: auto;
  padding: 5px;
}
.CodeRay .an { color:#E7BE69 }                      /* html attribute */
.CodeRay .c  { color:#BC9358; font-style: italic; } /* comment */
.CodeRay .ch { color:#509E4F }                      /* escaped character */
.CodeRay .cl { color:#FFF }                         /* class */
.CodeRay .co { color:#FFF }                         /* constant */
.CodeRay .fl { color:#A4C260 }                      /* float */
.CodeRay .fu { color:#FFC56D }                      /* function */
.CodeRay .gv { color:#D0CFFE }                      /* global variable */
.CodeRay .i  { color:#A4C260 }                      /* integer */
.CodeRay .il { background:#151515 }                 /* inline code */
.CodeRay .iv { color:#D0CFFE }                      /* instance variable */
.CodeRay .pp { color:#E7BE69 }                      /* doctype */
.CodeRay .r  { color:#CB7832 }                      /* keyword */
.CodeRay .rx { color:#A4C260 }                      /* regex */
.CodeRay .s  { color:#A4C260 }                      /* string */
.CodeRay .sy { color:#6C9CBD }                      /* symbol */
.CodeRay .ta { color:#E7BE69 }                      /* html tag */
.CodeRay .pc { color:#6C9CBD }                      /* boolean */


/* layout 
--------------------------------------------- */

#container {
  background-color: #fff;
  margin: 0 auto;
  padding: 0 40px;
  width: 600px;
}

#site-header {
  background-color: #27313c;
  color: #fff;
  float: left;
  font-size: 20px;
  margin-bottom: 50px;
  padding: 55px 10px 5px 10px;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.nav {
  list-style: none;
  padding: 0;

  li, li a {
    display: inline-block;
  }
}

.site-navigation {
  float: left;
  margin: 50px 0 50px 10px;

  a {
    color: #6B8A96;
  	padding: 5px 10px;
  	text-decoration: none;
  }
  
  a:hover, 
  .current a {
    color: #BB4B39;
  }
}

#site-footer {
  border-top: 1px solid #ddd;
	color: #9EA7AE;
	font-size: .8em;
  margin-top: 30px;
  padding: 20px 0;
}

#github-ribbon {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}

#content {
  clear: both;
}

/* blog specific styles 
--------------------------------------------- */
#content article:first-child {
  margin-top: 0;
}

#content article {
  margin-top: 70px;
}

#content article header h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0;
}

#content article header a {
  color: #525B61;
}

#content article header a:hover {

}

#content time.date, 
#content p.subscribe {
  color: #999;
  font-size: .9em;
}

#content article h4 {
  font-weight: bold;
}

#content ul.archives .date {
  color: #999;
  display: block;
}

#content ul.archives li h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  
  a {
    text-decoration: none;
  }
}

#content ul.archives, 
#content ul.archives li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}


/* page specific styles 
--------------------------------------------- */
.recipe-title {
  margin-bottom: 0;
}

.job-title {
	font-weight: bold;
	margin: 0;
}

.job-date {
  color: #888;
  font-size: 14px;
	margin: 0;
}

img.portait {
  border: 1px solid #555;
  @include border-radius(3px);
  float: left;
  margin-right: 0.8em;
}


/* ==|== media queries ====================================================== */

/* Mobile (tested: iPhone 4, Nexus One)
--------------------------------------------- */
@media only screen and (max-device-width: 480px) 
{
  body {
    border-width: 4px 0 0 0;
  }

  #container {
    font-size: 14px;
    padding: 0 15px;
    position: relative;
    width: auto;
  }

  .site-navigation {
    float: none;
    position: absolute;
    margin: 0;
    top: 36px;
    left: 55px;
    right: 10px;

    a {
      padding: 3px 5px 3px 5px;
      @include transition(none);
    }
  }

  #site-footer {
    font-size: 0.9em;
  }

  #github-ribbon {
    display: none;
  }
}
