/* layout 
--------------------------------------------- */

/*
.container {
  margin: 0 auto;
  max-width: 660px;
  width: 90%;
}
*/

.site-container {
  @include animation(fadein 0.6s 0s ease-in);
  margin: 0 auto;
  max-width: 640px;
  opacity: 1;
  width: 90%;
}

@include keyframes(fadein) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav {
  list-style: none;
  padding: 0;

  li, li a {
    display: inline-block;
  }
}

.site-navigation {
  margin: ($base-spacing-unit * 2) 0;
  text-align: center;

  a {
    color: #999;
  	padding: 5px 10px;
  	text-decoration: none;
  }

  a:hover,
  .logo a:hover,
  .is-selected a {
    color: #424B51;
  }
  
  .logo {
    border-bottom: 1px solid #eee;
    display: block;
    @include font-size($h2-size);

    a {
      color: #474747;
    }
  }
}

.about-me-short {
  color: #595959;
  @include font-size($h3-size, false);
  font-weight: 400;
  margin: ($base-spacing-unit * 2) $base-spacing-unit;
  text-align: center;
}

.site-footer {
  border-top: 1px solid #e9e9e9;
  color: #9EA7AE;
  @include font-size($h5-size, false);
  margin-top: $base-spacing-unit;
  padding: $base-spacing-unit 0;
  text-align: center;
}

.muted {
  color: #9EA7AE;
}

/* blog specific styles 
--------------------------------------------- */
.site-main-content {

  article header h3 {
    font-size: 28px;
    margin-bottom: 0;
  }

  article header:first-of-type {
    margin-bottom: $base-spacing-unit;
  }

  article header a,
  ul.archives li h3 a,
  .recipe-title a {
    color: #424B51;

    &:hover {
      color: #00A8C6;
    }
  }

  time.date, 
  p.subscribe {
    color: #9EA7AE;
    @include font-size($h5-size);
  }

  ul.archives {
    &, li {
      list-style: none;
      padding-left: 0;
    }

    li {
      margin-bottom: $base-spacing-unit;

      h3 {
        margin-bottom: 0;
      }
    }

    .date {
      color: #9EA7AE;
      display: block;
    }
  }
}

/* page specific styles 
--------------------------------------------- */
.recipe-title {
  margin-bottom: 0;
}

.job-title {
	font-weight: bold;
	margin: 0;
}

.job-date {
  color: #9EA7AE;
  @include font-size($h5-size);
	margin: 0;
}

.self-portrait {
  border-radius: 3px;
  float: left;
  margin-right: 0.8em;
}

/* ==|== media queries ====================================================== */

/* Mobile (tested: iPhone 4-5, Nexus One)
--------------------------------------------- */
@media all and (max-width: 480px)
{
  .about-me-short {
    @include font-size($h4-size);
    margin-left: 10px;
    margin-right: 10px;
  }
}
