@import "mixins";

/* Enable an element to be resizable without JS */
.resizable {
  resize: both;
  overflow: auto;
}

/* Shamelessly stolen from railscasts.com - thank you Ryan! */
.CodeRay pre {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #444;
  font-family: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
  margin: 0;
  overflow: auto;
  padding: 5px;
}
.CodeRay .an { color:#E7BE69 }                      /* html attribute */
.CodeRay .c  { color:#BC9358; font-style: italic; } /* comment */
.CodeRay .ch { color:#509E4F }                      /* escaped character */
.CodeRay .cl { color:#FFF }                         /* class */
.CodeRay .co { color:#FFF }                         /* constant */
.CodeRay .fl { color:#A4C260 }                      /* float */
.CodeRay .fu { color:#FFC56D }                      /* function */
.CodeRay .gv { color:#D0CFFE }                      /* global variable */
.CodeRay .i  { color:#A4C260 }                      /* integer */
.CodeRay .il { background:#151515 }                 /* inline code */
.CodeRay .iv { color:#D0CFFE }                      /* instance variable */
.CodeRay .pp { color:#E7BE69 }                      /* doctype */
.CodeRay .r  { color:#CB7832 }                      /* keyword */
.CodeRay .rx { color:#A4C260 }                      /* regex */
.CodeRay .s  { color:#A4C260 }                      /* string */
.CodeRay .sy { color:#6C9CBD }                      /* symbol */
.CodeRay .ta { color:#E7BE69 }                      /* html tag */
.CodeRay .pc { color:#6C9CBD }                      /* boolean */


/* element specific default styles 
--------------------------------------------- */

a {
  @include transition(color 0.5s ease-out);
}
a:link, a:visited {
	color: #6B8A96;
	text-decoration: underline;
}
a:hover {
	color: #BA9471;
	text-decoration: underline;
}
pre, code {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  color: #444;
  font-family: Menlo, Consolas, Courier, monospace;
}
code {
  @include border-radius(3px);
  color: #C82829;
  padding: 0 .3em;
  white-space: nowrap;
}
pre {
  @include border-radius(3px);
  line-height: 1.2;
  margin: 0 0 18px 0;
  padding: 10px;
}
pre code {
  border: none;
  color: #222;
  font-size: 90%;
  padding: 0;
  white-space: pre;
  white-space: pre-wrap;
}
blockquote {
  border-left: 5px solid #dfdfdf;
  color: #6D6E72;
  margin: 0 10px;
  padding: 0 10px;
}
ul, ol {
	padding-left: 25px;
}
li {
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5 {
  color: #666;
  font-weight: normal;
  line-height: 1.4;
}
h1 {
	font-size: 20px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 18px;
}
h5, h6 {
	font-size: 14px;
}


/* layout 
--------------------------------------------- */
body {
  color: #525B61;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Calibri, Arial, serif;
  line-height: 1.6;
}

#container {
  margin: 0 auto;
  padding: 0 30px;
  width: 600px;
}

#site-header {
  padding-top: 20px;
  
  h1 a {
    color: #686F73;
    font-size: 1.2em;
    text-decoration: none;
  }
}

#nav {
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  padding-bottom: 20px;
  
  ul {
    font-size: .9em;
    padding: 0;
    
    li {
      display: inline-block;
      
      a {
        color: #6B8A96;
        margin: 5px 5px 5px 0;
      	padding: 5px 5px 5px 0;
      	text-decoration: none;
      }
    }
    
    li a:hover, 
    li.current a {
      color: #BA9471;
    }
  }
}

#site-footer {
  border-top: 1px solid #ddd;
	color: #9EA7AE;
	font-size: .8em;
  margin-top: 30px;
  padding: 20px 0;
}

#github-ribbon {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}

/* blog specific styles 
--------------------------------------------- */
#content article:first-child {
  margin-top: 0;
}

#content article {
  margin-top: 70px;
}

#content article header h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 0;
}

#content article header a {
  color: #525B61;
  text-decoration: none;
}

#content article header a:hover {
  color: #CB6A1B;
  text-decoration: underline;
}

#content time.date, 
#content p.subscribe {
  color: #999;
  font-size: .9em;
}

#content article h4 {
  font-weight: bold;
}

#content ul.archives .date {
  color: #999;
  display: block;
}

#content ul.archives li h3 {
  font-size: 18px;
  margin-bottom: 0;
  
  a {
    text-decoration: none;
  }
}

#content ul.archives, 
#content ul.archives li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}


/* page specific styles 
--------------------------------------------- */
.recipe-title {
  margin-bottom: 0;
}

.job-title {
	font-weight: bold;
	margin: 0;
}

.job-date {
  color: #888;
  font-size: 14px;
	margin: 0;
}

img.portait {
  border: 1px solid #555;
  @include border-radius(3px);
  float: left;
  margin-right: 0.8em;
}


/* ==|== media queries ====================================================== */

/* Mobile (tested: iPhone 4, Nexus One)
--------------------------------------------- */
@media only screen and (max-device-width: 480px) 
{
	#container {
    margin: 0 0.8em;
    padding: 1em;
    width: auto;
	}
	
	#site-header {
    padding: 0;
  }
  
	#nav {
    font-weight: bold;
    width: auto;
    
    ul {
      margin: 0 0 0 -3px;
      padding: 0;
      
      li {
        display: inline-block;
        margin: 0;
        padding: 0;
        
        a {
          display: block;
          padding: 3px 5px 3px 5px;
          @include transition(none);
      	}
    	}
  	}
	}
	
	#site-footer {
    font-size: 0.9em;
	}
	
	#github-ribbon {
    display: none;
  }
}