<p class="note">This is to simple for some but tastes great and makes an excellent side for any other dish. Goes really well with my recipe for milanesas.</p>

<h3>Ingredients</h3>

<ul>
	<li>Farfalle pasta</li>
	<li>4 or 5 spring onions</li>
	<li>Olive oil</li>
	<li>Butter</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Cut 4-5 spring onions in half and wash them well</li>
	<li>Once spring onions are clean, chop them up</li>
	<li>Boil the farfalle pasta</li>
	<li>With a minute left save a big spoonful or two of the boiling water</li>
	<li>Remove the boiling water and put the pasta back in the pot</li>
	<li>Add 2 tablespoons of butter</li>
	<li>Toss in the spring onions</li>
	<li>Add a fair amount of olive oil</li>
	<li>Add the boiling water you saved (helps by not needing to use so much olive oil)</li>
	<li>While in the pot mix the pasta well and then serve</li>
</ol>
