<p class="note">Farfalle Tonno has become an all time favorite in my home since it has a lot of fresh flavor. It is time consuming but with all the herbs, color and great taste it simply has everything you (and that special person) could want.</p>

<h3>Ingredients</h3>

<ul>
	<li>Farfalle pasta</li>
	<li>4 or 5 spring onions</li>
	<li>1 lemon</li>
	<li>Fresh or dry basil</li>
	<li>Black olives</li>
	<li>2 cans of tuna</li>
	<li>Olive oil</li>
	<li>Salt</li>
	<li>Freshly ground black pepper</li>
	<li>Roasted pimientos</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Chop 4 or 5 spring onions</li>
	<li>Peel 1 lemon and slice finely the lemon zest</li>
	<li>Squeeze all the lemon juice out into a cup and remove the seeds</li>
	<li>Chop finely 10-15 large basil leaves</li>
	<li>Chop 20 black olives</li>
	<li>Open 2 cans of tuna with the lid still attached (keeps the tuna from falling out) and pour out all the water</li>
	<li>Break the tuna into small pieces using a wooden spoon or knife</li>
	<li>For extra color chop very finely 1 or 2 chopped roasted pimientos (optional, highly recommended)</li>
	<li>In a cooking pan pour about 1/4 a cup of olive oil and warm it lightly</li>
	<li>Saute the spring onions in the olive oil for about 2 minutes</li>
	<li>Once finished do not turn the heat back on</li>
	<li>Add in the lemon zest, basil, olives, tuna, lemon juice, salt and pepper</li>
	<li>Mix the sauce well</li>
	<li>Heat the sauce only to warm lightly just before you add in the pasta</li>
	<li>Boil the farfalle pasta and save a little bit of the boiling water in a cup</li>
	<li>Toss the pasta in with the sauce</li>
	<li>Add in the small amount of boiling water (helps by not having to add so much olive oil)</li>
	<li>Mix the pasta well before serving</li>
</ol>