<p class="note">If you love a traditional italian Margherita pizza you will enjoy this. It's got so much in common because the chunks of mozzarella melt with the cooked pasta.</p>

<h3>Ingredients</h3>

<ul>
	<li>Fusilli pasta</li>
	<li>6 vine tomatoes</li>
	<li>2 large garlic cloves</li>
	<li>Fresh or dry basil</li>
	<li>Anchovy fillets or capers</li>
	<li>1/2 pound of mozzarella</li>
	<li>Olive oil</li>
	<li>Oregano</li>
	<li>Pepper</li>
	<li>Salt</li>
	<li>Roasted pimientos</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Chop 6 vine tomatoes and 2 large garlic cloves</li>
	<li>Wash and then chop 20 leaves of fresh basil (dry basil works fine)</li>
	<li>Chop 5 anchovy fillets <em>or</em> drain 1 tablespoon of capers</li>
	<li>Dice 1/2 pound of mozzarella into small cubes</li>
	<li>Toss all the ingredients listed above into a big bowl</li>
	<li>Add a little oregano, salt and pepper to taste, mix well</li>
	<li>Leave the sauce to marinate for 1 to 3 hours at room temperature</li>
	<li>Boil the Fusilli pasta (boiling time written on package)</li>
	<li>Stir pasta frequently while boiling (every 3 minutes or so) to prevent sticking</li>
	<li>Remove the boiling water and drop the pasta in the sauce bowl</li>
	<li>Mix well and serve</li>
</ol>
