<h3>Ingredients</h3>

<ul>
	<li>Linguine pasta</li>
	<li>1 pound of jumbo shrimp</li>
	<li>3 Roma tomatoes</li>
	<li>4-5 large garlic cloves</li>
	<li>Fresh or dry basil</li>
	<li>1 lemon</li>
	<li>Olive oil</li>
	<li>Pepper</li>
	<li>Salt</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Peel the shrimp and remove intestines unless already done</li>
	<li>Chop 3 fresh Roma tomatoes (regular tomatoes work too)</li>
	<li>Chop 4-5 large garlic cloves</li>
	<li>Wash and chop about 20 leaves of basil</li>
	<li>Squeeze all the juice out of 1 lemon into a cup</li>
	<li>Boil the linguine pasta</li>
	<li>Add a thin layer of olive oil in a pan and heat at medium</li>
	<li>Saut&eacute; garlic for about 1 minute till golden but <strong>do not brown</strong>!</li>
	<li>Add shrimp and cook for about 2 minutes on medium</li>
	<li>Add tomatoes and basil, cook for another 2 minutes</li>
	<li>Add pepper and salt to taste</li>
	<li>Add lemon juice to the sauce</li>
	<li>Remove the boiling water and put the pasta in the pan with the sauce</li>
	<li>Mix the pasta well and then serve</li>
</ol>
