<p class="note">Tuna, olives, capers, anchovies... this dish has it all! Its flavor simply screams mediterranean and is probably one of my easiest recipes. All that and I say its easy? Of course, because all you have to do is chop the ingredients and thats it! There is no sauce to cook and no need too. Once the pasta is done boiling you just throw everything in together and mix well. This is an easy dish to prepare and cook that will impress!</p>

<h3>Ingredients</h3>

<ul>
	<li>Linguine pasta</li>
	<li>2 large garlic cloves</li>
	<li>1 lemon</li>
	<li>Fresh or dry parsley</li>
	<li>5 anchovy fillets</li>
	<li>Capers</li>
	<li>Black and green olives</li>
	<li>2 cans of tuna</li>
	<li>Olive oil</li>
	<li>Freshly ground black pepper</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Chop 2 garlic cloves</li>
	<li>Wash and then chop a lot of italian parsley</li>
	<li>Dice 5 anchovies into small pieces</li>
	<li>Drain 3 tablespoons of capers</li>
	<li>Chop 10 black and 10 green seedless olives</li>
	<li>Squeeze all the juice out of 1 full lemon into a cup</li>
	<li>Open 2 cans of tuna with the lid still attached (keeps the tuna from falling out) and pour out all the oil/water</li>
	<li>Toss all the ingredients listed above into a big bowl</li>
	<li>Add pepper to taste but <strong>do NOT add salt</strong></li>
	<li>Add 5 tablespoons of olive oil</li>
	<li>Stir the sauce well and unless you plan to eat right away leave it to marinate over night or prepare it in the morning for dinner the same day</li>
	<li>Boil the linguine pasta (boiling time written on package)</li>
	<li>Stir pasta frequently while boiling (every 3 minutes or so) to prevent sticking</li>
	<li>Remove the boiling water and drop the pasta in the sauce bowl</li>
	<li>Mix well and serve</li>
</ol>