<p class="note">Tuna, olives, capers, anchovies... this dish has it all. Very mediterranean. Naturally salty. Probably one of my easiest recipes. All you have to do is chop the ingredients and thats it. No sauce to cook. Eat it at room temperature if you like. Once the pasta is done boiling you just throw everything in together and mix well. If you like a particular ingredient feel free to add more. No amount is set in stone. What I have here is what I prefer.</p>

<h3>Ingredients</h3>

<ul>
	<li>Linguine pasta</li>
	<li>3-5 large garlic cloves</li>
	<li>1 lemon</li>
	<li>Fresh or dry parsley</li>
	<li>5 anchovy fillets (or use a full small can)</li>
	<li>Capers</li>
	<li>Black and green olives (about 15-20 each)</li>
	<li>2-3 cans of tuna</li>
	<li>Olive oil</li>
	<li>Freshly ground black pepper</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Chop 2 garlic cloves</li>
	<li>Drain 3 tablespoons of capers</li>
	<li>Wash and chop italian parsley</li>
	<li>Chop about 15 black and 15 green seedless olives</li>
	<li>Open 2 cans of tuna with the lid still attached (keeps the tuna from falling out) and pour out all the oil/water</li>
	<li>Squeeze all the juice out of 1 lemon into a cup</li>
	<li>Dice 5 anchovies (or a full small can) into small pieces</li>
	<li>Toss all the ingredients into a big bowl</li>
	<li>Add pepper to taste but <strong>do not add salt</strong></li>
	<li>Add 5 tablespoons of olive oil</li>
	<li>Stir the sauce well and unless you plan to eat right away leave it to marinate over night or prepare it in the morning for dinner the same day</li>
	<li>Boil the linguine pasta</li>
	<li>Stir pasta frequently while boiling to prevent sticking</li>
  <li>Save a little of the boiling water and add in the sauce bowl</li>
	<li>Remove the boiling water and drop the pasta in the sauce bowl</li>
	<li>Mix well and serve</li>
</ol>
