<p class="note">I've always had many recipes to choose from but eventually one weekend I wanted to try something new and I ended up going with what you now see here. What I love most about this dish is that it has a chewy, rewarding texture and is really full of flavor. This has become a new favorite. You'll love the melted mozzarella and tuna.</p>

<h3>Ingredients</h3>

<ul>
	<li>Penne or Mezze Penne pasta</li>
	<li>2-5 large garlic cloves</li>
	<li>1/2 pound mozzarella</li>
	<li>Fresh or dry basil</li>
	<li>5 anchovy fillets</li>
	<li>Capers</li>
	<li>Roasted pimientos</li>
	<li>2 cans of tuna</li>
	<li>Olive oil</li>
	<li>Freshly ground black pepper</li>
	<li>Crushed red pepper</li>
	<li>Salt</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Chop finely 10-15 large, fresh basil leaves</li>
	<li>Chop 2-5 garlic cloves (or more if you like)</li>
	<li>Open 2 cans of tuna with the lid still attached (keeps the tuna from falling out) and pour out all the oil/water</li>
	<li>Break the tuna into small pieces using a wooden spoon or knife</li>
	<li>Drain 3 tablespoons of capers</li>
	<li>Chop about 1 pound or less of Mozzarella cheese into small cubes</li>
	<li>For extra color chop very finely 1 or 2 chopped roasted pimientos (optional, highly recommended)</li>
	<li>Throw all ingredients into a large bowl</li>
	<li>Add olive oil, salt, black pepper, and some crushed red pepper flakes (if you want it to have a little kick)</li>
	<li>Boil the penne or mezze penne pasta (boiling time written on package)</li>
	<li>Stir pasta frequently while boiling (every 3 minutes or so) to prevent sticking</li>
	<li>Remove the boiling water and drop the pasta in the sauce pan</li>
	<li>Mix well and serve</li>
</ol>