<p class="note">Also been called "Greek Pasta" at home. Great flavor but very easy and fast to make. You can even prepare all the ingredients easily while the pasta is boiling.</p>

<h3>Ingredients</h3>

<ul>
	<li>Rigatoni pasta</li>
	<li>Fresh or dry basil</li>
	<li>Feta cheese</li>
	<li>Cherry tomatoes</li>
	<li>Olive oil</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Wash and then chop several large leaves of basil</li>
	<li>Dry basil works just fine if you don't have any fresh leaves</li>
	<li>Chop feta cheese into small squares (or they can be purchased crumbled)</li>
	<li>Chop 2 or 3 fresh tomatoes (cherry tomatoes work great too!)</li>
	<li>Boil the rigatoni pasta</li>
	<li>Remove the boiling water and put the pasta back in the pot</li>
	<li>Add in the basil, tomatoes and feta cheese</li>
	<li>Add as much olive oil as you like</li>
	<li>Mix the pasta and sauce well before serving</li>
</ol>
