<p class="note">You've probably noticed by now I love pasta with tuna and other types of seafood. The thing is pasta just tastes great with it. They go so well together. This dish is heavier in tuna and flavor but still yet easy to prepare.</p>

<h3>Ingredients</h3>

<ul>
	<li>Spaghetti pasta</li>
	<li>2-5 large garlic cloves</li>
	<li>2 cans of tuna</li>
	<li>Anchovy fillets</li>
	<li>Fresh or dry parsley (if none use basil)</li>
	<li>3/4 cup of white wine</li>
	<li>Olive oil</li>
	<li>Butter</li>
	<li>Crushed red pepper</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Chop 6 anchovy fillets and 2 large garlic cloves</li>
	<li>Wash and then chop a lot of italian parsley (fresh basil is a great substitute)</li>
	<li>Open 2 cans of tuna with the lid still attached (keeps the tuna from falling out) and pour out all the oil/water</li>
	<li>Break the tuna into small pieces using a wooden spoon or knife</li>
	<li>Pour a thin layer of olive oil in a pan, add 3 tablespoons of butter and heat on low-medium till butter disolves</li>
	<li>Add garlic and heat for 3 minutes but <strong>do not brown</strong>!</li>
	<li>Add anchovies and their oil to the pan and heat for 2-3 minutes and let anchovies dissolve completely</li>
	<li>Add tuna and add 3/4 cup of white wine</li>
	<li>Stir well and let wine evaporate for 3 minutes until a thick and smooth sauce is formed</li>
	<li>Add parsley (and pepper to taste)</li>
	<li>Stir sauce and turn off heat</li>
	<li>Boil the spaghetti pasta (boiling time written on package)</li>
	<li>Stir pasta frequently while boiling (every 3 minutes or so) to prevent sticking</li>
	<li>Remove the boiling water and drop the pasta in the sauce pan</li>
	<li>Mix well and serve</li>
</ol>