<p class="note">A classic dish that is easy to make quickly and is sweet with olives and tomatoes. Best to have during the summer when the freshest vine tomatoes are available.</p>

<h3>Ingredients</h3>

<ul>
	<li>Spaghetti pasta</li>
	<li>2-5 large garlic cloves</li>
	<li>3 vine tomatoes or cherry tomatoes</li>
	<li>Fresh or dry basil</li>
	<li>Fresh or dry parsley (optional)</li>
	<li>Capers</li>
	<li>Black olives</li>
	<li>Olive oil</li>
	<li>Crushed red pepper</li>
	<li>Salt</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Chop 20 or so black olives</li>
	<li>Chop and seed 3 vine tomatoes (important to strip out the center so the sauce doesn't become watery)</li>
	<li>Chop finely 10 fresh, large basil leaves</li>
	<li>Chop 2-5 garlic cloves (if you like a lot of garlic 6 cloves works well(</li>
	<li>Add some fresh parsley (optional)</li>
	<li>Drain 3 tablespoons of capers</li>
	<li>Throw all ingredients into a large bowl</li>
	<li>Add olive oil, salt, and some crushed red pepper flakes</li>
	<li>Boil the spaghetti pasta (boiling time written on package)</li>
	<li>Stir pasta frequently while boiling (every 3 minutes or so) to prevent sticking</li>
	<li>Remove the boiling water and drop the pasta in the sauce pan</li>
	<li>Mix well and serve</li>
</ol>
