<p class="note">All the pasta recipes I have minus this one are usually referred to as pasta salads. They are much easier to make and sometimes a lot better, certainly a lot healthier with all the vegetables and herbs. Although, when I do get my craving for a pasta with sauce this is by far the best one so this recipe is very much a personal favorite!</p>

<h3>Ingredients</h3>

<ul>
	<li>Tortellini pasta</li>
	<li>3 large garlic cloves</li>
	<li>1 vidalia onion</li>
	<li>1-2 shallots</li>
	<li>Can of crushed tomatoes (Colavita)</li>
	<li>Fresh or dry basil</li>
	<li>3/4 cup of white wine</li>
	<li>Parmesan and Pecorino Romano cheese</li>
	<li>Light cream</li>
	<li>Olive Oil</li>
	<li>1 1/2 tablespoons of butter</li>
	<li>Salt</li>
	<li>Oregano</li>
	<li>Crushed red pepper</li>
	<li>Freshly ground black pepper</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Wash and then chop 10 leaves of fresh basil (or use dry basil instead)</li>
	<li>Chop the garlic, vidalia onion and shallots</li>
	<li>Pour a thin layer of olive oil in pan and cook lightly</li>
	<li>Add the chopped vidalia onion and sautee</li>
	<li>Add garlic, sautee till golden and turn off heat when done</li>
	<li>Add canned peeled tomatoes to pan, break tomatoes into smaller pieces (the best is the brand Colavita or San Marzano)</li>
	<li>Add pepper, salt, crushed red pepper and oregano to taste</li>
	<li>Cook sauce for about 20 minutes at low heat (If dry basil is used you can add basil now)</li>
	<li>While tomato sauce is cooking begin the alfredo sauce</li>
	<li>Using another pan add 1 1/2 tablespoons of butter at high heat</li>
	<li>Turn heat down to low, add shallots and sautee for about 3 minutes</li>
	<li>Add half a pint of light cream and heat at low-medium for about 4 minutes</li>
	<li>Turn heat off for both sauces and cover the pans with lids</li>
	<li>If using fresh basil then add it now to the tomato sauce</li>
	<li>Boil the tortellini pasta (boiling time written on package)</li>
	<li>Add 3 tablespoons of parmesan and romano cheese to the alfredo sauce, stir while heating lightly</li>
	<li>Remove the boiling water and put the pasta in the alfredo sauce</li>
	<li>Heat the tomato sauce once again so everything is ready to serve</li>
</ol>