<h3>Ingredients</h3>

<ul>
	<li>Tortellini pasta</li>
	<li>3 large garlic cloves</li>
	<li>1 vidalia or yellow onion</li>
	<li>1-2 shallots</li>
	<li>Can of crushed tomatoes (Colavita or San Marzano)</li>
	<li>Fresh or dry basil</li>
	<li>Parmesan and/or Pecorino Romano cheese</li>
	<li>1 pint of light or heavy cream (whipped works too)</li>
	<li>Olive Oil</li>
	<li>1 1/2 tablespoons of butter</li>
	<li>Oregano</li>
	<li>Crushed red pepper</li>
	<li>Pepper</li>
	<li>Salt</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Wash and then chop 10 leaves of fresh basil (or use dry basil instead)</li>
	<li>Chop the garlic, vidalia onion and shallots</li>
	<li>Pour a thin layer of olive oil in pan and cook lightly</li>
	<li>Add the chopped vidalia onion and sautee</li>
	<li>Add garlic, saut&eacute; till golden and turn off heat when done</li>
	<li>Add canned peeled tomatoes to pan, break tomatoes into smaller pieces (the best is the brand Colavita or San Marzano)</li>
	<li>Add pepper, salt, crushed red pepper and oregano to taste</li>
	<li>Cook sauce for about 20 minutes at low heat (if using dry basil then add now)</li>
	<li>While tomato sauce is cooking start the alfredo sauce</li>
	<li>Using another pan add 1 1/2 tablespoons of butter at high heat</li>
	<li>Turn heat down to low, add shallots and saut&eacute; for about 3 minutes</li>
	<li>Add a pint of cream and heat at low-medium for about 4 minutes</li>
	<li>Turn heat off for both sauces and cover with lids</li>
	<li>If using fresh basil then add it now to the tomato sauce</li>
	<li>Boil the tortellini pasta</li>
	<li>Add 3 tablespoons of parmesan and/or romano cheese to the alfredo sauce</li>
	<li>Serve the pasta and then add the sauces as you like or mix the sauces in a bowl and then dump the pasta in</li>
</ol>
