<h3>Ingredients</h3>

<ul>
  <li>2 broccoli crowns</li>
  <li>2-3 garlic cloves</li>
  <li>1 lemon (juiced)</li>
  <li>2 tablespoons of butter</li>
  <li>Olive Oil</li>
  <li>Salt</li>
  <li>Pepper or crushed red pepper</li>
</ul>

<h3>Directions</h3>

<ol>
  <li>Wash and chop the broccoli into florets</li>
  <li>In a pot bring water to a boil and add some sea salt</li>
  <li>Add broccoli to boiling water and simmer (low-medium heat) for 4 minutes</li>
  <li>Add a little olive oil in a pan and heat up</li>
  <li>Add garlic and crushed red pepper and saut&eacute; for 1 minute</li>
  <li>Lower heat and add 2 tablespoons of butter</li>
  <li>Once butter melts, turn off heat and stir</li>
  <li>Add squeezed lemon juice from 1 lemon</li>
  <li>Drain the water from the broccoli and add to a bowl</li>
  <li>Add sauce to broccoli and serve</li>
</ol>
