<p>A simple appetizer or a great vegetarian alternative for hamburger meat. These come out crispy on the outside, tender and moist in the inside.</p>

<h3>Ingredients</h3>

<ul>
  <li>2 eggplants</li>
  <li>4-5 garlic cloves</li>
  <li>2 large eggs</li>
  <li>Panko (Japanese breadcrumbs)</li>
  <li>Parmesan and/or Pecorino Romano cheese</li>
  <li>Fresh italian parsley</li>
  <li>Olive Oil</li>
  <li>Pepper</li>
  <li>Salt</li>
</ul>

<h3>Directions</h3>

<ol>
  <li>Wash and peel eggplants (leaving on a little peel for flavor)</li>
  <li>Dice the eggplants into cubes</li>
  <li>Chop italian parsley and garlic finely</li>
  <li>In salted water, boil the eggplants for 15-20 minutes or until tender, stirring occasionally</li>
  <li>Drain the eggplant in a strainer until cool</li>
  <li>In a bowl add breadcrumbs, parmesan or romano cheese, garlic, parsley, pepper/salt, eggplants and mix</li>
  <li>Now add eggs and mix well</li>
  <li>Form the batter into patties of desired size</li>
  <li>Pour a thin layer of olive oil in pan and heat up</li>
  <li>Fry each side until golden (about 4-5 minutes each side)</li>
  <li>Serve immediately or let them cool first</li>
</ol>
