<p>This is a simple marinara or arrabbiata sauce for pizza or as a dip. The sauce can be refrigerated for a week or frozen for several months.</p>

<h3>Ingredients</h3>

<ul>
  <li>3 garlic cloves</li>
  <li>1 small vidalia or yellow onion</li>
  <li>San Marzano crushed tomatoes can</li>
  <li>Fresh or dry basil</li>
  <li>Olive Oil</li>
  <li>Oregano (optional)</li>
  <li>Crushed red pepper (optional)</li>
  <li>Pepper</li>
  <li>Salt</li>
</ul>

<h3>Directions</h3>

<ol>
  <li>Wash and then chop 8-10 leaves of fresh basil (or use a small amount of dry basil instead)</li>
  <li>Chop the garlic and vidalia onion finely</li>
  <li>Pour a thin layer of olive oil in pan and heat up</li>
  <li>Add the diced onion for a few minutes</li>
  <li>Add (optional) crushed red pepper now for an arrabbiata (spicy) sauce</li>
  <li>Add garlic, saut&eacute; till golden and turn off heat when done</li>
  <li>Add crushed tomatoes and (optional) oregano to pan and stir</li>
  <li>Cook sauce for 20 minutes at low-medium heat (if using dry basil then add now) and occasionally stir</li>
  <li>Add pepper and salt to taste and cook for another 3 minutes</li>
  <li>If using fresh basil then add it now and stir</li>
  <li>If not using the same day, the sauce can be refrigerated for a week or frozen for several months</li>
</ol>
