<p class="note">This is my mother's recipe for paella. Its not very different from the typical dish just made with a lot of sofrito. One of my favorites. Make sure to serve with a lot of lemon juice!</p>

<h3>Ingredients</h3>

<ul>
	<li>1 large vidalia onion</li>
	<li>1 large red pepper</li>
	<li>1 large green pepper</li>
	<li>1 large tomato</li>
	<li>4-5 garlic cloves</li>
	<li>3-4 hot chorizos (or chicken chorizo)</li>
	<li>Fresh italian parsley</li>
	<li>1 pound jumbo shrimp</li>
	<li>Saffron</li>
	<li>Rice</li>
	<li>Olive Oil</li>
	<li>Salt</li>
	<li>Paprika</li>
	<li>Lemons</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Dice the onion, red and green peppers, tomato and garlic</li>
	<li>Slice the chorizo into thin pieces or how you like</li>
	<li>Wash and chop the parsley</li>
	<li>Peel and devein the shrimp</li>
	<li>In a pot boil 3 cups of water</li>
	<li>Add 1.5 cup of rice to pot</li>
	<li>Once boiling set heat to low and add salt</li>
	<li>Simmer the rice for 30 minutes</li>
	<li>Sautee the chopped onions and peppers in olive oil for 3 minutes</li>
	<li>Then add the garlic for another 2 minutes</li>
	<li>Then add the tomato and turn off heat</li>
	<li>Add salt to taste and a lot of paprika (about 3 teaspoons or so)</li>
	<li>Mix sauce well in pan and add the chorizo</li>
	<li>Add the rice and water from the pot</li>
	<li>Add a little extra water in case</li>
	<li>Add saffron</li>
	<li>Mix well and then heat at low for 20 minutes</li>
	<li>With 1-2 minutes to go turn off heat to add the shrimp, place above rice, the steam alone will cook it</li>
	<li>Cover and turn heat on low for a few minutes until shrimp turns white/pink losing the raw gray color</li>
	<li>Turn off heat and leave covered for at least 10 minutes but the longer the better</li>
	<li>Before serving add the parsley</li>
	<li>Make sure to serve at the table with a lot of lemons, best sprinkles with a lot of lemon juice</li>
</ol>
