<p class="note">This is my mother's recipe for paella. Its not very different from the typical dish just made with a lot of sofrito. One of my favorites. Make sure to serve with plenty of lemons!</p>

<h3>Ingredients</h3>

<ul>
	<li>1 large vidalia or yellow onion</li>
	<li>1 large red pepper</li>
	<li>1 large green pepper</li>
	<li>1 large tomato</li>
	<li>4-5 garlic cloves</li>
	<li>1 pound of de-cased chorizos or hot Italian sausage</li>
	<li>Fresh Italian parsley</li>
	<li>1 pound jumbo shrimp</li>
	<li>Saffron</li>
	<li>Rice</li>
	<li>Olive Oil</li>
	<li>Salt</li>
	<li>Paprika</li>
	<li>2-3 Lemons</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Dice the onion, red and green peppers, tomato and garlic</li>
	<li>Slice or split the chorizo up into small pieces</li>
	<li>Wash and chop the parsley (about 3 tablespoons or so)</li>
	<li>Peel and devein the shrimp</li>
	<li>In a pot boil 3 cups of water</li>
	<li>Add 1.5 cup of rice to pot</li>
	<li>Once boiling set heat to low and add salt</li>
	<li>Simmer the rice for 30 minutes</li>
	<li>Now use a wide pan for the sofrito as you'll add the rice afterwards</li>
	<li>Saut&eacute; the chopped onions and peppers in olive oil for 3 minutes</li>
	<li>Add the garlic for another 2 minutes</li>
	<li>Add the tomato and turn off heat</li>
	<li>Add salt to taste and a lot of paprika (about 3 teaspoons or so)</li>
	<li>Mix sauce well in pan and add the chorizo</li>
	<li>Add the rice and water from the pot</li>
	<li>Sprinkle saffron on top of the rice</li>
	<li>Mix well and then heat at low for 20 minutes</li>
	<li>With 2-3 minutes to go turn off heat and place the shrimp on the rice (the steam alone will cook the shrimp)</li>
	<li>Cover and turn heat on low for a few minutes until shrimp turns white/pink losing the raw gray color</li>
	<li>Turn off heat and leave covered for at least 10 minutes</li>
	<li>Before serving sprinkle parsley and mix</li>
	<li>Serve with lemons as it's best with a lot of lemon juice</li>
</ol>
