<p class="note">An excellent combination of tomatoes, feta cheese, shallots, olive oil, red wine vinegar, balsamic vinegar and made with either Boston or Romaine lettuce.</p>

<h3>Ingredients</h3>

<ul>
	<li>Boston or Red Leaf lettuce</li>
	<li>Freshly ground black pepper</li>
	<li>Balsamic vinegar</li>
	<li>Red wine vinegar</li>
	<li>Cherry tomatoes</li>
	<li>Crumbled feta cheese</li>
	<li>Shallots</li>
	<li>Olive oil</li>
	<li>Salt</li>
</ul>

<h3>Directions</h3>

<ol>
	<li>Wash several leaves of Boston or Red Leaf Lettuce</li>
	<li>Dry lettuce and throw into a bowl</li>
	<li>Slice 1 fresh tomato or use cherry tomatoes</li>
	<li>Chop 1 shallot</li>
	<li>Dice several pieces of feta cheese or use crumbled</li>
	<li>Add the chopped shallot and feta cheese to the bowl</li>
	<li>Add 2 spoons of olive oil</li>
	<li>Add 1 spoon of red wine vinegar (optional)</li>
	<li>Add 1 spoon of balsamic vinegar</li>
	<li>Add pepper and salt to taste</li>
	<li>Mix well and then serve</li>
</ol>